/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    /*HEADER*/
    /*HEADER END*/
}

@media only screen and (max-width: 1107px) {
    /*HEADER*/
    /*HEADER END*/
}
@media only screen and (max-width: 1190px){
	.auth{
		margin-left: 5%;
	}
}
@media only screen and (max-width: 1190px){
	.auth{
		margin-left: 4%;
	}
	.rubricator-shower{
		margin-left: 5%;
	}
}
@media only screen and (max-width: 1122px){
	.auth{
		margin-left: 3%;
	}
	.rubricator-shower{
		margin-left: 3%;
	}
}
@media only screen and (max-width: 1082px){
	.auth{
		margin-left: 3%;
		width: 164px;
	}
	.rubricator-shower{
		margin-left: 3%;
	}
	.social{
    	margin-left: 2%;
    }
}
@media only screen and (max-width: 1072px) {
    .rubricator-shower{
    	margin-left: 2%;
    }
    .header-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn).countries{
    	margin-left: 2%;
    }
    
}
@media only screen and (max-width: 1037px) {
	.auth{
		margin-left: 2%;
	}

	.social a{
		margin-left: 15px !important;
	}
	.social a.facebook{
		margin-left: 0;
	}
}
@media only screen and (max-width: 1000px) {
	.social{
		margin-left: 0%;
	}
}
/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    /*HEADER*/
    /*HEADER END*/
    /*CONTENT*/
    
    .mt-new .mt-cat {
        font-size: 1.5rem;
    }
   	.mt-new .mt-text {
        font-size: 1.4rem;
    }
    .mt-horizontal .mt-new .mt-text {
        font-size: 1.7rem;
    }
    /*CONTENT END*/
    
    /*FOOTER*/
    footer{
	}
    footer .footer-menu{
	    left: 42%;
	}
    /*FOOTER END*/
}
/* Small Devices, Tablets */

@media only screen and (max-width: 982px) {
	.rubricator-shower{
		margin-left: 0;
	}
	.header-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn).countries{
		margin-left: 0;
	}
}

@media only screen and (max-width: 940px) {
	.change-bg{
		margin-left: 0;
	}
	.auth{
		margin-left: 1%;
	}
}
@media only screen and (max-width: 907px) {
	.change-bg{
		display: none;
	}

	/*CATEGORY NEWS*/
	.category-news__item{
	     width: calc(50% - 8px/2);
	}
	.category-news__item:nth-child(3n){
		margin-right: 8px;
	}
	.category-news__item:nth-child(2n){
		margin-right: 0;
	}

	/*CATEGORY NEWS END*/
}
@media only screen and (max-width: 820px) {
	.social a{
		margin-left: 10px !important;
	}
	.auth__sign-up{
		margin-left: 6px;
	}
	.auth{
		width: 150px;
	}
}
@media only screen and (max-width: 784px) {
	.rubricator-shower{
		font-size: 10px;
		padding-top: 16px;
	}
	.header-select > .btn{
		font-size: 10px;
	}
	.header-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
		padding-top: 10px;
		width: 90px;
	}
}
@media only screen and (max-width: 767px) {
    /*HEADER*/
    
    header {
        padding-bottom: 3px;
        height: auto;
    }
    .fixed .header__wrap{
    	position: relative;
    }
    
    .header-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        display: none;
    }
    /*HEADER END*/
    /*CONTENT*/
    
    .content {
        margin-top: 0;
        padding: 0;
        border-radius: 0;
        background-image: none;
	}
    .grid__item{
        padding: 0;
        width: 100%;
    }
    .grid__item-in{
        padding:0;
        width:100%;
    }
    
    .mt-horizontal {
        width: 100%;
        margin: 0 0 1px 0;
        height: auto;
    }
    .mt-horizontal .mt-new {
        height: 250px;
    }
    .mt-small {
        width: calc(33.333333% - 2px/3);
        margin: 0 1px 0 0;
    }
    .mt-horizontal .mt-new h3 {
        font-size: 30px;
        margin-left: 20px;
        margin-top: 32px !important;
        color: #fff !important;
    }
    .mt-horizontal .mt-new .mt-cat {
        left: 20px !important;
        bottom: 21px !important;
        opacity: 1 !important;
        font-size: 13px;
    }
    .mt-horizontal .mt-new .mt-text {
        display: none;
    }
    .mt-horizontal .mt-new .article-params {
        bottom: 22px;
        width: auto;
        right: 20px;
    }
    .mt-horizontal.owl .owl-pagination {
        display: none;
    }
    .mt-horizontal-2 .mt-new h3{
    	line-height: normal;
    	font-size: 24px;
    }
    .mt-small h3 {
        font-size: 17px !important;
        margin-left: 20px;
        margin-top: 22px !important;
        color: #fff !important;
    }
    .mt-small h3 span {
        font-size: 17px !important;
    }
    .mt-small .mt-cat {
        display: none
    }
   	.mt-small .mt-text {
        display: none;
    }
    .mt-small .article-params {
        bottom: 17px;
    }
	.mt-small-2{
		margin-top: 1px;
		width: calc(50% - 1px/2);
		height: auto;
		float: left;
	}
	.mt-small-2 h3{
		padding-bottom: 60px;
		font-size: 15px !important;
	}
	.mt-small-2:nth-child(2){
		margin-right: 0;
	}

    .news-feed{
    	margin-top: 1px;
    }
    .content__right_column-banner,
    .content__left_column-banner{
        max-width:280px;
        margin:0 auto;
    }
    .subscription{
        width: 90%;
        margin: 0 auto;
        margin-top: 26px;
        margin-bottom: 34px;
    }
    /*CONTENT END*/
    /*FOOTER*/
    footer{
        padding: 0;
        background-color: #fff;
    }
    footer .footer-menu{
        position: relative;
        left: 0;
        top: 0;
    }
    footer .footer-menu ul{}
    footer .footer-menu ul li{
        float: none;
        margin-right: 0;
    }
    footer .footer-menu ul li a{
        display: block;
        margin-bottom: 1px;
        padding-left: 21px;
        height: 39px;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        line-height: 37px;
        background-color: #dcdcdc;
    }
    footer .footer-menu ul li a:hover{
        background-color: #CDCDCD;
    }
    footer .footer-menu ul li a:active{}
    .copyright{
        padding-left: 21px;
        padding-top: 22px;
        padding-bottom: 29px;
        width: 197px;
    }
    footer .copyright span{
	    margin-left: 0;
	    display: block;
	}
    .statistic{
	    display: none;
	}
    /*FOTER END*/
}
/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    /*CONTENT*/
    
    .mt-small:nth-child(3) {
        display: none;
    }
    .mt-small {
        width: calc(50% - 1px/2);
        height: 169px;
    }
    .mt-small:nth-child(2) {
        margin-right: 0;
    }
    .mt-horizontal .mt-new {
        height: 169px;
    }
    /*CONTENT END*/
}
/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}
/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}
/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    .collapse.in.mobile-menu {
        display: none;
    }
    
}
/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}
/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}
@media only screen and (min-width: 1440px) {
	.header__logo{
		padding-left: 0;
	}
	.header-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn).lang{
		margin-right: 0;
	}
	.content{
		max-width: 1440px;
	}
	.header__inner {
		max-width: 1440px;
	}
	.sidebar{
		width: 17%;
	}
	.four-fifth{
		width: 83%;
	}
	.one-fourth{
		width: 20.7%;
	}
	.three-fourth{
		width: 79.3%;
	}
	
	.row-news__item{
		width: calc(20% - 31px*4/5);
	}
	.row-news__item:nth-child(4){
		margin-right: 31px;
	}
	.row-news__item:nth-child(5){
	    display: block;
	    margin-right: 0;
	}
	.row-news-2 .row-news__item{
		display: inline-block;
	}
	.row-news-2 .row-news__item:nth-child(5){
		margin-right: 34px;
	}
	.row-news-2 .row-news__item{
		width: calc(33% - 34px*2/3);
	}
	.row-news-2 .row-news__item.w1440{
	    display: inline-block;
	}
	.row-news-2 .row-news__item:nth-child(2n){
		margin-right: 34px;
	}
	.row-news-2 .row-news__item:nth-child(3n){
		margin-right: 0;
	}


	/*CATEGORY NEWS*/
	
	/*CATEGORY NEWS END*/
	footer{
		max-width: 1440px;
	}
}