@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700);

* {
	margin: 0;
	padding: 0;
	outline: none;
}

html, body {height: 100%;}

header,
nav,
section,
article,
aside,
footer {
	display: block
}

/*sticky footer*/
.wrapper {/* the bottom margin is the negative value of the footer's height */
}


.push {
}
/*end sticky footer options*/


img {
	border: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #ffec00;
}

a:hover {
	text-decoration: underline;
}


body {
	background: #fff;
	line-height: 1.2;
	color: #808080;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	font-weight: normal;
}

.box {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

header {
	width: 100%;
	background: rgba(0,0,0,.6);
	border-bottom: 2px solid #FAEB0A;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99998;
}

header#fix {
	position: fixed;
	top:0;
	z-index: 100;
}

header .logo {
	float: left;
	margin-top: 15px;
	margin-right: -11px;
	margin-left: 50px;
}
header .logo img{
	width: 100%;
}
header nav {
	margin-top: 32px;
	float: left;
	margin-left: 42px;
}


header  .join-buttom {
	border: 2px solid #FAEB0A;
	float: right;
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 2px 0;
	text-align: center;
	text-decoration: none !important;
	width: 196px;
	color: #fff;
	background: #bba90a;
	margin-right: 16px;
	margin-left: 16px;
}





#slider .box .pager .items li {
	float: left;
	margin-left: 12px;
	margin-top: 15px;
}

#slider .box .pager .items li span {
	background: url(../images_v2/over.png) repeat 0 0;
	width: 98px;
	height: 56px;
	position: absolute;
	z-index: 100;
	margin-left: -98px;
}

#slider .box .pager .items li.active span {
	background: url(../images_v2/over2.png) repeat 0 0;
}

#slider .box .pager .items li span:hover {
	background: url(../images_v2/overh.png) repeat 0 0;
}


#slider .prev:hover,
#slider .next:hover {
	background-position:  0 -66px;
}





#dialog .box a {
	color: #951136;
}




#simple .text .s-title {
	font-size: 20px;
	color: #222222;
	display:block;
	margin-bottom: 12px;
}

#simple .text  p {
	font-weight: 300;
	color: #808080;
}

#simple .text a {
	color: #951136
}




footer .box {
	padding-top: 38px;
}





footer .box li span {
	color: #666666;
}


footer .box .col-3 {
	color: #ffffff;
}

footer .box .col-3 p {
	margin-bottom: 20px;
}



footer .banner .to-top {
	background: url(/images_v2/top.png) no-repeat 0 0;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	float: right;
}

footer .banner .to-top:hover {
	background-position: 0 -40px;
}

/*
  * indg_fhg1.html
 */
.backgraund {
	background: url(/images_v2/bg1.jpg) center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


#block-container h1 {
	font-weight: normal;
	font-size: 30px;
	color: #fff;
	margin-bottom: 10px;
}

#block-container .links {
	font-size: 20px;
	color: #fff;
	margin-bottom: 27px;
}

#block-container .text {
	background: #fff;
	margin-bottom: 15px;
	padding: 28px 30px;

}

#block-container .text p {
	font-weight: 300;
	font-size: 16px;
}

#block-container .text .title {
	font-size: 20px;
	color: #222;
	display: block;
	margin-bottom: 14px;
}

#block-container .tumbs {
	overflow: hidden;
	margin-bottom: 7px;
}




#block-container .tumbs li span:hover,
#updates .anons .col-1 span:hover {
	background: url(/images_v2/border-h.png) no-repeat 0 0;
}

#block-container .tumbs li.active span {
	background: url(/images_v2/border-a.png) no-repeat 0 0;
}

#block-container .tumbs li.last {
	margin-right: 0;
}

#block-container .dialog {
	padding: 10px 60px 25px;
	text-align: center;
	display: block;
	font-size: 30px;
	color: #fff;
}

#block-container .dialog.no-padding {
	padding-bottom: 0;
}

#block-container .join-buttom {
	background: none repeat scroll 0 0 #BBA90A;
	border: 2px solid #FAEB0A;
	color: #FFFFFF;
	display: block;
	font-size: 30px;
	margin-top: 20px;
	padding: 2px 0;
	text-align: center;
	text-decoration: none;
	width: 196px;
}

#block-container .join {
	margin: 0 auto;
	width: 200px;
	display: block;
	padding-bottom: 10px;
}


#block-container .join-buttom:hover {
	border: 2px solid #d80015;
	background: #F78093;
}

#block-container .tumbs.closed li span {
	background: #000 url(/images_v2/closed.png) no-repeat center 43px;
	width: 111px;
	height: 99px;
	text-align: center;
	font-size: 16px;
	color: #aaaaaa;
	padding-top: 107px;
	padding-left: 17px;
	padding-right: 17px;
}

#block-container .tumbs.closed li span.opacity{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90); /* IE 5.5+*/
	-moz-opacity: 0.9; /* Mozilla 1.6 ÃÂ¸ ÃÂ½ÃÂ¸ÃÂ¶ÃÂµ */
	-khtml-opacity: 0.9; /* Konqueror 3.1, Safari 1.1 */
	opacity: 0.9; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */

}

#block-container .col-1 {
	float: left;
	width: 455px;
}

#block-container .col-1 .tumbs li {
	margin-bottom: 2px;
	margin-right: 9px;
}

#block-container .col-1 .tumbs li.last {
	margin-right: 0;
}

#block-container .col-1 .text {
	height: 157px;
}

#block-container,
#block-container .cols {
	overflow: hidden;
}


#block-container .col-2 {
	float: right;
	width: 451px;
}


#block-container .col-2 span {
	background: url(/images_v2/over-big.png) no-repeat 0 0;
	width: 455px;
	height: 646px;
	position: absolute;
}

#block-container .tumbs.closed li {
	margin-bottom: 5px;
}

#block-container .back a {
	background: url(/images_v2/back.png) no-repeat 0 0;
	font-size: 20px;
	color: #ffffff;
	width: 40px;
	height: 40px;
	padding-left: 60px;
	line-height: 40px;
	display: block;
	width: 300px;
	text-decoration: none;
	margin: 15px 0 5px 14px;
}

#block-container .back a:hover {
	background-position: 0 -40px;
}

.backgraund-2  {
	background: url(/images_v2/bg2.png) repeat 0 87px;
}

#block-container-white {
	background: url("/images_v2/px2.png") repeat scroll 0 0 transparent;
	margin: 30px auto 60px;
	padding: 14px;
	box-sizing: border-box;
}

#block-container-white .content {
	background: #fff;
	padding: 25px 30px 5px;

}





.backgraund-2 header {
	background: url("/images_v2/header2.png") repeat-x scroll 0 0 transparent;
}


#block-container-white .content .but {
	overflow: hidden;
}



#block-container-white .content .but li.last {
	margin-right: 0;
}

#block-container-white .content .but li a {
	color: #c1c1c1;
	text-decoration: none;
	padding: 4px 15px;
	background: #f6f6f6;
	display: block;
	border: 1px solid #f6f6f6;
}

#block-container-white .content .but li a:hover {
	background: #c1c1c1;
	color: #f6f6f6;
}

#block-container-white .buttom {
	margin: 0 auto 20px;
}

#block-container-white .content .but li.active a {
	background: #faf133;
	color: #a86804;
	border: 1px solid #faeb0a;
}

#block-container-white .content .but li.active a:hover {
	border: 1px solid #d80015;
	background: #F78093;
	color: #fff;
}


#updates .title h1 {
	font-size: 30px;
	color: #fff;
	font-weight: normal;
}

#updates .title {
	/*	 background: url("/images_v2/px.png") repeat scroll 0 0 transparent;*/
	background: url(/images_v2/header-shadow.png) repeat-x 0 0;
	padding: 0 11px;
	margin-bottom: 2px;
	height: 74px;
	line-height: 74px;
}

#updates .anons {
	background: url("/images_v2/px2.png") repeat scroll 0 0 transparent;
	margin-bottom: 2px;
	padding: 14px;
	overflow: hidden;
}





#updates .anons .col-2 .tit {
	color: #222222;
	font-size: 20px;
	font-weight: normal;
	display: block;
	margin-bottom: 9px;
}

#updates .anons .links {
	overflow: hidden;
	margin-bottom: 16px;
}

#updates .anons .links li {
	float: left;
	margin-right: 4px;
}

#updates .anons .links li a {
	color: #951136;
}

#updates .profile {
	background: url("/images_v2/px2.png") repeat scroll 0 0 transparent;
	margin-bottom: 2px;
	padding: 14px;
	overflow: hidden;
}



#updates .s-tit {
	overflow: hidden;
	float: left;
	color: #fff;
	padding-top: 18px;
	font-size: 30px;
	padding-bottom: 10px;
}

#updates .cols {
	overflow: hidden;
}



#updates .profile .col-2 .options p {
	margin-bottom: 2px;
}




#updates .profile .col-2 .tit-c a:hover {
	background-position: right -40px;
}


#join .text-box {
	background: #fff;
	padding: 27px 18px 0
}

#join .tabs {
	overflow: hidden;
}

#join .tabs li {
	float: left;
	font-size: 20px;
	color: #222222;
	margin-right: 2px;
}


#join .tabs li a {
	color: #222222;
	padding: 0 25px;
	background: url(/images_v2/tab.png) repeat-x 0 0;
	line-height: 57px;
	height: 57px;
	display: block;
	text-decoration: none;
}

#join .tabs li.active a {
	background: url(/images_v2/tab2.png) repeat-x 0 0;
}


#join .text-box .cols {
	overflow: hidden;
}

#join .text-box .cols .col-1 {
	width: 406px;
	margin-right: 30px;
	float: left;
}



#join .text-box .payment {
	overflow: hidden;
}

#join .col-1 .red-tit {
	font-size: 20px;
	color: #e2001a;
	font-weight: bold;
	display: block;
	margin-bottom: 16px;
}

#join .col-1 table {
	padding: 15px 0;
}

#join .col-1 table .odd td {
	background: #f3f3f3;
	width: 50%;
}


#join .col-1 .red {
	color: #e2001a;
}

#join .col-1 table td {
	width: 203px;
	text-align: center;
	padding: 5px 0;
}

#join .col-1 .timer {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color: #e2001a;
	margin-bottom: 11px;
}




#join .col-2 .or {
	text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 20px;
}

#join .col-2 .acess-one.l {
	color: #fff;
}



.overlay {
	background: #000;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 200;
	display: none;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); /* IE 5.5+*/
	-moz-opacity: 0.7; /* Mozilla 1.6 ÃÂ¸ ÃÂ½ÃÂ¸ÃÂ¶ÃÂµ */
	-khtml-opacity: 0.7; /* Konqueror 3.1, Safari 1.1 */
	opacity: 0.7; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
}

body.noscroll {
	overflow-y: scroll;
	position: fixed;
	width: 100%;
}

#join .text-box .payment a {
	color: #951136;
}

#join .text-box .cols .col-1 label,
#join .text-box .cols .col-2 label {
	font-size: 20px;
	margin-bottom: 14px;
	display: block;
	color: #222222;
}

#join .text-box .cols .col-1 label span,
#join .text-box .cols .col-2 label span {
	color: #808080;
	font-weight: 300 !important;
}

#join .text-box .cols .col-1 input[type="text"],
#join .text-box .cols .col-1 input[type="email"],
#join .text-box .cols .col-1 input[type="password"] {
	background: url("/images_v2/icons.png") no-repeat scroll 7px 3px transparent;
	border: 1px solid #c0c0c0;
	width: 370px;
	font-size: 16px;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300 !important;
	padding-left: 30px;
}

#join .text-box .cols .col-1 p {
	margin-bottom: 18px;
}

#join .text-box .cols .col-1 input[type="email"] {
	background: url("/images_v2/icons.png") no-repeat scroll 7px -64px transparent;
}

#join .text-box .cols .col-1 input[type="password"] {
	background: url("/images_v2/icons.png") no-repeat scroll 8px -31px transparent;
}

#join .text-box .cols .col-2 .col {
	float: left;
	width: 210px;
}

#join .text-box .cols .col-2 .col p.f {
	font-size: 30px;
	background: #f3f3f3;
	width: 185px;
	height: 45px;
	padding-left: 20px;
	margin-bottom: 15px;
	line-height: 44px;
}

#join .text-box .cols .col-2 .col p.f span {
	padding-left: 20px;
}

#join .text-box .cols .col-2 .col p.f input[type="radio"] {
	position: relative;
	top:-5px;
}

#join .text-box .cols .col-2 .col p.f.active {
	color: #222222;
	background: #dcdcdc;
}

#join .text-box .cols .col-1 .col p.f + p,
#join .text-box .cols .col-2 .col p.f + p,
#join .text-box .cols .col-1 .col p.f + p + p,
#join .text-box .cols .col-2 .col p.f + p + p {
	font-size: 14px;
	font-weight: 300;
}


#join .text-box .cols .col-1 .col p strong,
#join .text-box .cols .col-2 .col p strong {
	font-weight: bold;
}


#join .text-box   .join-buttom {
	border: 2px solid #FAEB0A;
	float: left;
	font-size: 30px;
	margin-top: 20px;
	padding: 2px 0;
	text-align: center;
	text-decoration: none;
	width: 196px;
	color: #a86804;
	background: #faf133;
	margin-left: 119px;
	margin-top: 25px;
}

#join .text-box   .join-buttom:hover {
	border: 2px solid #d80015;
	background: #F78093;
	color: #fff;
}


#join-front-bg {
	background: url(/images_v2/bg1.jpg) no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	width: 100%;
}

.poupup.index {
	z-index: 999999 !important;
}

.backgraund-3 {
	background: url(/images_v2/bg2.jpg) no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#updates .breadcrumbs,
#colum-free .breadcrumbs {
	/*	background: url("/images_v2/px.png") repeat scroll 0 0 transparent;*/
	background: url(/images_v2/header-shadow.png) repeat-x 0 0;
	margin-bottom: 2px;
	padding: 0 13px;
	font-size: 20px;
	color: #fff;
	height: 74px;
	line-height: 74px;
}

#updates .anons.member .col-1 span {
	background: url("/images_v2/tbigg.png") no-repeat scroll 0 0 transparent;
	height: 255px;
	margin-left: -180px;
	position: absolute;
	width: 180px;
}

#updates .anons.member .col-1 {
	width: 194px;
	float: left;
}

#updates .anons.member .col-2 {
	float: left;
	width: 627px;
	background: #fff;
	margin-left: 13px;
	height: 233px;
	padding: 25px 30px;
}

#updates .anons.member .links {
	margin-bottom: 10px;
}

#updates .anons.member .comment,
#updates .anons.member .download  {
	color: #951136;
	background: url(/images_v2/icon2.png) no-repeat 0 4px;
	padding-left: 25px;
}


#updates .anons.member .download {
	float: right;
	background-position: 0 -29px;
}

#updates .anons.member p {
	min-height: 120px;
	overflow: hidden;
}

#updates .anons.member .col-1 .fivestar a {
	background: url(/images_v2/star.png) no-repeat 0 -31px;
	width: 20px;
	height: 20px;
	float: left;
	text-indent: -99999px;
	margin-right: 8px;
}

#updates .anons.member .col-1 .fivestar {
	padding-top: 9px;
	padding-left: 21px;
}


#updates .anons.member .col-1 .fivestar .ok {
	background-position: 0 0;
}


#colum-free {
	margin: 30px auto 2px;
	width: 950px;
}

#block-container.top {
	margin-top: 0;
	padding-bottom: 7px;
	margin-bottom: 0;
}

#comments {
	background: url("/images_v2/px2.png") repeat scroll 0 0 transparent;
	margin: 2px auto 60px;
	padding: 22px 18px 15px;
	width: 914px;
}

#comments .block {
	background: #fff;
	padding: 27px 25px 80px;
}

#comments .title {
	font-size: 30px;
	color: #fff;
	display: block;
	margin-bottom: 20px;
}

#comments .text p {
	margin-bottom: 12px;
	font-weight: 300;
}

#comments .text p strong {
	font-weight: normal;
}

#comments .text {
	margin-bottom: 37px;
}

#comments form {
	margin-left: 127px;
}

#comments textarea {
	border: 1px solid #c0c0c0;
	width: 560px;
	height: 80px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	padding: 25px;
	margin-bottom: 10px;
}

#comments  input[type="submit"] {
	float: right;
	font-size: 16px;
	color: #a86804;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	background: #fbf65e;
	padding: 10px 0;
	width: 158px;
	margin-right: 125px;
	cursor: pointer;
}

#comments  input[type="submit"]:active {
	position: relative;
	top:1px;
}

#comments  input[type="submit"]:hover {
	background: none repeat scroll 0 0 #F78093;
	color: #fff;
}

#updates .profile.small .col-1 {
	width: 195px;
	margin-right: 0;
}

#updates .profile.small .col-2 {
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	height: 130px;
	padding: 20px 30px 25;
	width: 639px;
}

#updates .profile.small .col-2 .tit {
	color: #951136;
	font-size: 20px;
	margin-bottom: 16px;
}

#updates .profile.small .col-2 .tit a {
	color: #951136;
}

#updates .profile.small .col-2 .text {
	width: auto;
}

#updates .welcome .breadcrumbs {
	background: none;
	margin-left: -14px;
}

#updates .welcome {
	background: url("/images_v2/px.png") repeat scroll 0 0 transparent;
	padding: 14px 14px 0;
}

#updates .welcome .b-title {
	font-size: 30px;
	color: #fff;
	display: block;
	padding: 10px 0 20px;
}

#updates .welcome .box-w {
	background: #fff;
	padding: 27px 25px;
}

#updates .welcome .box-w .s-title {
	font-size: 20px;
	color: #222222;
	display: block;
	margin-bottom: 14px;
}

#updates .welcome .box-w p {
	margin-bottom: 20px;
}

#updates .welcome .box-w .left {
	float: left;
	margin-right: 33px;
}

#updates .welcome .box-w a,
#updates .welcome .links-bar a  {
	color: #951136;
}

#updates .welcome .links-bar {
	overflow: hidden;
	background: #f3f3f3;
	margin-top: 2px;
	padding: 28px 28px 10px;
	font-size: 20px;
}

#updates .welcome .links-bar div {
	margin-bottom: 18px;
}

#updates .welcome .links-bar span,
#updates .welcome .links-bar a {
	margin-right: 13px;
}

#updates .welcome .links-bar a {
	padding-left: 30px;
	background: url("/images_v2/icon-set.png") no-repeat scroll 2px 5px transparent;
}

#updates .welcome .links-bar div a + a {
	background-position: 2px -22px;
}

#updates .welcome .links-bar div a + a + a {
	background-position: 2px -52px;
}

#updates .welcome .links-bar div a + a + a + a {
	background-position: 5px -81px;
}

#updates .welcome .links-bar div + div a{
	background-position: 5px -110px;
}

#updates .welcome .links-bar div + div a + a {
	background-position: 2px -141px;
}

#updates .welcome .links-bar div + div a + a + span + a {
	background-position: 2px -178px;
}

#updates .welcome .links-bar div + div a + a + span + a  + a {
	background-position: 5px -211px;
}

#updates .anons.member .col-1 .nav-bar {
	overflow: hidden;
	float: left;
	padding-top: 30px;
	position: relative;
	z-index: 2;
}

#updates .anons.member .col-1 .nav-bar a {

	color: #ffec00;
	display: block;
	margin-bottom: 17px;
}

#updates .anons.member .col-1 .nav-bar a + a {
	margin-bottom: 0;
}


#updates .anons.member .nav-bar .comment, #updates .anons.member .nav-bar .download {
	background: url("/images_v2/icon3.png") no-repeat scroll 0 4px transparent;
}


#updates .anons.member .col-1 .nav-bar .download {
	float: none;
	background-position: 0 -29px;
}

#updates .anons .bg-bottom {
	background: url("/images_v2/bg-bot.png") no-repeat scroll 0 0 transparent;
	float: left;
	height: 94px;
	margin-left: -14px;
	margin-top: -74px;
	width: 950px;
	position: relative;
	z-index: 1;
}

#updates .anons.no-padding {
	padding-bottom: 0;
}


#updates .anons.no-padding .col-1 {
	width: 178px;
	margin-right: 1px;
}

#updates .anons.no-padding .col-1.last {
	margin-right: 0;
}

#cent #block-container-white,
#cent #join {
	width: 100%;
}

#join .col-2 .acess-one:hover {
	background: #F78093;
	color: #fff;
	border: 1px solid #d80015;
}

#join .tabs li a:hover {
	text-decoration: underline;
}

#cent #join {
	height: 364px;
	margin-top: -182px;
}@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700);

* {
	margin: 0;
	padding: 0;
	outline: none;
}
#cent{
	max-width:922px;
	margin: 0 auto;
}
html, body {height: 100%;}

header,
nav,
section,
article,
aside,
footer {
	display: block
}
#dialog{
	background: rgba(255,255,255,0.7);
}
/*sticky footer*/

#slider{
	position: relative;
}

.push {
}
/*end sticky footer options*/


img {
	border: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #ffec00;
}

a:hover {
	text-decoration: underline;
}


body {
	background: #fff;
	line-height: 1.2;
	color: #808080;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	font-weight: normal;
}




@media(max-width:1187px){
	header{
		height: auto;
		min-height: 87px;
	}
	header .join-buttom {
		float: left;
		margin-left: 50px;
		margin-right: 50px;
	}
	.backgraund{
		padding-top: 144px !important;
	}
}
@media(max-width:773px){
	.backgraund{
		padding-top: 212px !important;
	}
}
header#fix {
	position: fixed;
	top:0;
	z-index: 100;
}


header .logo img{
	width: 90%;
}

header nav a {
	font-weight: normal;
	color: #ffffff;
	font-size: 19px;
	text-transform: uppercase;
	margin-left: 7px;
	margin-right: 7px;
}

@media(max-width:523px){
	header .logo{
		float: none;
		margin-left: 3%;
	}
	header nav{
		float: none;
		margin-left: 0;
	}
	header nav a {
		display: block;
		margin-left: 0;
		text-align: center;
		padding: 10px;
		margin-right: 0;
	}
	header .join-buttom{
		float: none;
		margin: 20px auto;
		display: block;
	}
}
header  .join-buttom:hover {
	border: 2px solid #d80015;
	background: #F78093;
}

#slider .slide li img,
#simple .cover img {
	display: block;
	height: auto;
	width: 100%;
}

#slider .shadow-bot {
	background: url(../images_v2/shadow2.png) repeat 0 0;
	overflow: hidden;
	position: absolute;
	z-index: 7;
	width: 100%;
	bottom: 0;
	padding-bottom: 10px;
	text-align: center;
}

#slider .box .pager p {
	color: #fff;
	font-size: 20px;
	margin-left: 12px;
	padding-right: 33px;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

#slider .box .pager .play {
	background: url(../images_v2/play.png) no-repeat 0 0;
	width: 38px;
	height: 38px;
	margin-right: 20px;
	display: inline-block;
	vertical-align: middle;
}

#slider .box .pager .pause {
	background: url(../images_v2/pause.png) no-repeat 0 0;
	width: 38px;
	height: 38px;
	margin-right: 20px;
	display: inline-block;
	vertical-align: middle;
}

#slider .box .pager .s-prev {
	background: url(../images_v2/s-prev.png) no-repeat 0 0;
	width: 16px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
}

#slider .box .pager .s-next {
	display: inline-block;
	background: url(../images_v2/s-next.png) no-repeat 0 0;
	width: 16px;
	height: 24px;
	margin-left: 15px;
	vertical-align: middle;
}

#slider .box .pager .items {
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
}
@media(max-width:1167px){
	#slider .box .pager .pause,#slider .box .pager .play{
		position: absolute;
		right: 0px;
	}
	#slider .shadow-bot{
		position: relative;
		padding-top: 10px;
	}
	#slider .box .pager div.items{
		width: 79% !important;
		box-sizing: border-box;
		margin: 0 18px;
		margin-top: 39px;
	}
	#slider .box .pager .s-prev{
		position: absolute;
		left: 0px;
		top: 136px;
	}
	#slider .box .pager .s-next{
		position: absolute;
		right: 0px;
		top: 136px;
	}
}
#slider .box .pager .items li {
	float: left;
	margin-left: 12px;
	margin-top: 15px;
}

#slider .box .pager .items li span {
	background: url(../images_v2/over.png) repeat 0 0;
	width: 98px;
	height: 56px;
	position: absolute;
	z-index: 100;
	margin-left: -98px;
}

#slider .box .pager .items li.active span {
	background: url(../images_v2/over2.png) repeat 0 0;
}

#slider .box .pager .items li span:hover {
	background: url(../images_v2/overh.png) repeat 0 0;
}

#slider .prev {
	background: url(../images_v2/prev.png) no-repeat 0 0;
	width: 66px;
	height: 66px;
	position: absolute;
	left:58px;
	top: 50%;
	margin-top: -85px;
}

#slider .prev:hover,
#slider .next:hover {
	background-position:  0 -66px;
}


#slider .next {
	background: url(../images_v2/next.png) no-repeat 0 0;
	width: 66px;
	height: 66px;
	position: absolute;
	right:58px;
	top: 50%;
	margin-top: -85px;
}

#dialog .box {
	padding: 40px 0;
	text-align: center;
	font-size: 30px;
	color: #222222;
	box-sizing: border-box;
}

#dialog .box a {
	color: #951136;
}

#simple .top-shadow {
	background: url("../images_v2/shadow2.png") repeat scroll 0 0 transparent;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	width: 100%;
}

#simple .top-shadow .title {
	padding-left: 20px;
	float: left;
	line-height: 86px;
	display: block;
	color: #fff;
	font-size: 30px;
}

#simple .top-shadow .links {
	line-height: 77px;
	font-size: 20px;
	color: #fff;
	float: right;
	margin-right: 20px;
}

#simple .bottom-block {
	width: 100%;
	background: url(../images_v2/shadow-2.png) repeat 0 0;
	position: relative;
	padding-bottom: 11px;
	text-align: center;
}

#simple .tumbs {
	margin-top: 15px;
	display: inline-block;
	width: 47%;
	vertical-align: top;
	box-sizing: border-box;
}
@media(max-width:850px){
	#simple .tumbs{
		width: 100%;
	}
	#simple .text{
		width: 100% !important;
		box-sizing: border-box;
	}
}
#simple .tumbs li {
	float: left;
	margin-right: 0.5%;
	transition: .3s all;
	cursor: pointer;
	width: 24.5%;
}
#simple .tumbs li img{
	width: 100%;
	height: auto;
}
#simple .tumbs li:hover{
	transform: scale(1.4);
}

#simple .text {
	background: #fff;
	margin-top: 15px;
	overflow: hidden;
	padding: 20px 23px;
	vertical-align: top;
	width: 47%;
	display: inline-block;
	text-align: left;
	box-sizing: border-box;
}


#simple .text .s-title {
	font-size: 20px;
	color: #222222;
	display:block;
	margin-bottom: 12px;
}

#simple .text  p {
	font-weight: 300;
	color: #808080;
}

#simple .text a {
	color: #951136
}


footer {
	background: #202020;
	border-bottom: 104px solid #161616;
	position\: r;
	position: relative;
}

footer .box {
	padding-top: 38px;
}

footer .box .col-1 {
	padding-left: 50px;
	margin-right: 34px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
}

footer .box .col-2 {display: inline-block;vertical-align: top;margin-bottom: 20px;}

footer .box .col-3 {
}

footer .box li span {
	color: #666666;
}

footer .box li {
	margin-bottom: 9px;
}

footer .box .col-3 {
	color: #ffffff;
	display: inline-block;
	margin-bottom: 20px;
	margin-left: 50px;
}

footer .box .col-3 p {
	margin-bottom: 20px;
}

footer .cop {
	color: #666666;
	display: block;
	position: absolute;
	bottom: -53px;
	left: 50px;
	padding-right: 81px;
}

footer .banner {position: absolute;right: 20px;bottom: -74px;}

footer .banner .to-top {
	background: url(../images_v2/top.png) no-repeat 0 0;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	float: right;
}

footer .banner .to-top:hover {
	background-position: 0 -40px;
}

/*
  * indg_fhg1.html
 */
.backgraund {
	background: url(../images_v2/bg1.jpg) center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 86px;
}

#block-container {
	max-width: 914px;
	margin: 30px auto 60px;
	/*	background: url(/images_v2/px.png) repeat 0 0;*/
	background: url(../images_v2/shadow22.png) repeat;
	/*	background: url(/images_v2/header-shadow.png) repeat-x 0 0;*/
	padding: 27px 18px 22px;
}

#block-container h1 {
	font-weight: normal;
	font-size: 30px;
	color: #fff;
	margin-bottom: 10px;
}

#block-container .links {
	font-size: 20px;
	color: #fff;
	margin-bottom: 27px;
}

#block-container .text {
	background: #fff;
	margin-bottom: 15px;
	padding: 28px 30px;

}

#block-container .text p {
	font-weight: 300;
	font-size: 16px;
}

#block-container .text .title {
	font-size: 20px;
	color: #222;
	display: block;
	margin-bottom: 14px;
}

#block-container .tumbs {
	overflow: hidden;
	margin-bottom: 7px;
	text-align: center;
}

#block-container .tumbs li {
	display: inline-block;
	margin-right: 4px;
}

#block-container .tumbs li span,
#updates .anons .col-1 span {
	background: url(../images_v2/border.png) no-repeat 0 0;
	position: absolute;
	margin-left: -145px;
}

#block-container .tumbs li span:hover,
#updates .anons .col-1 span:hover {
	background: url(../images_v2/border-h.png) no-repeat 0 0;
}

#block-container .tumbs li.active span {
	background: url(../images_v2/border-a.png) no-repeat 0 0;
}

#block-container .tumbs li.last {
	margin-right: 0;
}

#block-container .dialog {
	padding: 10px 60px 25px;
	text-align: center;
	display: block;
	font-size: 30px;
	color: #fff;
}

#block-container .dialog.no-padding {
	padding-bottom: 0;
}

#block-container .join-buttom {
	background: none repeat scroll 0 0 #BBA90A;
	border: 2px solid #FAEB0A;
	color: #FFFFFF;
	display: block;
	font-size: 30px;
	margin-top: 20px;
	padding: 2px 0;
	text-align: center;
	text-decoration: none;
	width: 196px;
}

#block-container .join {
	margin: 0 auto;
	width: 200px;
	display: block;
	padding-bottom: 10px;
}


#block-container .join-buttom:hover {
	border: 2px solid #d80015;
	background: #F78093;
}

#block-container .tumbs.closed li span {
	background: #000 url(../images_v2/closed.png) no-repeat center 43px;
	width: 111px;
	height: 99px;
	text-align: center;
	font-size: 16px;
	color: #aaaaaa;
	padding-top: 107px;
	padding-left: 17px;
	padding-right: 17px;
}

#block-container .tumbs.closed li span.opacity{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90); /* IE 5.5+*/
	-moz-opacity: 0.9; /* Mozilla 1.6 ÃÂ¸ ÃÂ½ÃÂ¸ÃÂ¶ÃÂµ */
	-khtml-opacity: 0.9; /* Konqueror 3.1, Safari 1.1 */
	opacity: 0.9; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */

}

#block-container .col-1 {
	float: left;
	width: 455px;
}

#block-container .col-1 .tumbs li {
	margin-bottom: 2px;
	margin-right: 9px;
}

#block-container .col-1 .tumbs li.last {
	margin-right: 0;
}

#block-container .col-1 .text {
	height: 157px;
}

#block-container,
#block-container .cols {
	overflow: hidden;
}


#block-container .col-2 {
	float: right;
	width: 451px;
}


#block-container .col-2 span {
	background: url(../images_v2/over-big.png) no-repeat 0 0;
	width: 455px;
	height: 646px;
	position: absolute;
}

#block-container .tumbs.closed li {
	margin-bottom: 5px;
}

#block-container .back a {
	background: url(../images_v2/back.png) no-repeat 0 0;
	font-size: 20px;
	color: #ffffff;
	width: 40px;
	height: 40px;
	padding-left: 60px;
	line-height: 40px;
	display: block;
	width: 300px;
	text-decoration: none;
	margin: 15px 0 5px 14px;
}

#block-container .back a:hover {
	background-position: 0 -40px;
}

.backgraund-2  {
	background: url(../images_v2/bg2.png) repeat 0 87px;
}

#block-container-white {
	background: url("../images_v2/px2.png") repeat scroll 0 0 transparent;
	margin: 30px auto 60px;
	padding: 14px;
	box-sizing: border-box;
}

#block-container-white .content {
	background: #fff;
	padding: 25px 30px 5px;

}

#block-container-white .content h1 {
	font-weight: normal;
	color: #222;
	font-size: 30px;
	display: block;
	margin-bottom: 25px;
}

#block-container-white .content p {
	font-weight: 300;
	margin-bottom: 23px;
}

.backgraund-2 header {
	background: url("../images_v2/header2.png") repeat-x scroll 0 0 transparent;
}

.slogan {
	float: left;
	font-size: 30px;
	color: #fff;
	padding-left: 20px;
	padding-top: 28px;
	padding-bottom: 22px;
}

#block-container-white .content .but {
	overflow: hidden;
	text-align: center;
}

#block-container-white .content .but li {
	display: inline-block;
	font-size: 30px;
	text-transform: uppercase;
	margin-right: 28px;
	margin-bottom: 28px;
}

#block-container-white .content .but li.last {
	margin-right: 0;
}

#block-container-white .content .but li a {
	color: #c1c1c1;
	text-decoration: none;
	padding: 4px 15px;
	background: #f6f6f6;
	display: block;
	border: 1px solid #f6f6f6;
}

#block-container-white .content .but li a:hover {
	background: #c1c1c1;
	color: #f6f6f6;
}

#block-container-white .buttom {
	margin: 0 auto 20px;
}

#block-container-white .content .but li.active a {
	background: #faf133;
	color: #a86804;
	border: 1px solid #faeb0a;
}

#block-container-white .content .but li.active a:hover {
	border: 1px solid #d80015;
	background: #F78093;
	color: #fff;
}

#updates {
	margin: 30px auto 60px;
	padding: 14px;
	max-width: 922px;
}

#updates .title h1 {
	font-size: 29px;
	color: #fff;
	font-weight: normal;
}

#updates .title {
	/*	 background: url("/images_v2/px.png") repeat scroll 0 0 transparent;*/
	background: url(../images_v2/header-shadow.png) repeat-x 0 0;
	padding: 0 11px;
	margin-bottom: 2px;
	height: 74px;
	line-height: 74px;
}

#updates .anons {
	background: url("../images_v2/px2.png") repeat scroll 0 0 transparent;
	margin-bottom: 2px;
	padding: 14px;
	overflow: hidden;
}

#updates .anons .col-1 {
	width: 20%;
	display: inline-block;
	vertical-align: top;
}
#updates .anons .col-1 img{
	width: 100%;
	height: auto;
}
#updates .anons .col-2 {
	display: inline-block;
	background: #fff;
	margin-left: 13px;
	min-height: 156px;
	padding: 25px 30px;
	width: 78%;
	vertical-align: top;
	box-sizing: border-box;
}
@media(max-width: 928px){
	#updates .anons .col-2{
		width: 77%;
	}
}
@media(max-width:701px){
	#updates .anons .col-1 {
		width: 40%;
	}
	#updates .anons{
		text-align: center;
	}
}
#updates .anons .col-2 .tit {
	color: #222222;
	font-size: 20px;
	font-weight: normal;
	display: block;
	margin-bottom: 9px;
}

#updates .anons .links {
	overflow: hidden;
	margin-bottom: 16px;
}

#updates .anons .links li {
	float: left;
	margin-right: 4px;
}

#updates .anons .links li a {
	color: #951136;
}

#updates .profile {
	background: url("../images_v2/px2.png") repeat scroll 0 0 transparent;
	margin-bottom: 2px;
	padding: 14px;
	overflow: hidden;
}

#updates .profile .col-1 {
	width: 25%;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
#updates .profile .col-1 img{
	width:100%;
	display: inline-block;
}
#updates .profile .col-1 span{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background: #FBFBFB;
    width: 100%;
    height: 100%;
}
@media(max-width:599px){
	#updates .profile .col-1{
		float: none;
		margin: 0 auto;
	}
}



#updates .profile .col-2 {
	background: #fff;
	padding: 29px 30px;
	width: 74%;
	display: inline-block;
	box-sizing: border-box;
	padding-bottom: 55px;
}
@media(max-width:956px){
	#updates .profile .col-1{
		width: 100%;
		text-align: center;
	}
	#updates .profile .col-2{
		width: 100%;
	}
}
#updates .s-tit {
	overflow: hidden;
	float: left;
	color: #fff;
	padding-top: 18px;
	font-size: 30px;
	padding-bottom: 10px;
}

#updates .cols {
	overflow: hidden;
}

#updates .profile .col-2 .tit-c {
	color: #222222;
	font-size: 30px;
	display: block;
	margin-bottom: 20px;
}
#updates .profile .col-2 .tit-c:after{
	clear:both;
	content:"";
	display:block;
}
#updates .profile .col-2 .options {
	display: inline-block;
	width: 26%;
	margin-right: 2%;
	vertical-align: top;
}
@media(max-width:743px){
	#updates .profile .col-2 .options{
		width: 100%;
		margin-right: 0;
	}
}
#updates .profile .col-2 .options p {
	margin-bottom: 2px;
}

#updates .profile .col-2 .text {
	display: inline-block;
	width: 70%;
	vertical-align: top;
}

@media(max-width:788px){
	#updates .profile .col-2 .text {
		width: 100%;
		padding-top: 15px;
	}
}

#updates .profile .col-2 .tit-c a {
	font-size: 20px;
	color: #951136;
	padding-right: 57px;
	background: url(../images_v2/top-right.png) no-repeat right 0;
	display: block;
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
@media(max-width:401px){
	#updates .profile .col-2 .tit-c a {
		font-size: 13px;
	}
}
#updates .profile .col-2 .tit-c a:hover {
	background-position: right -40px;
}
#join_popup{
	text-align:center;
	position: fixed;
	top: 0;
	z-index: 99999;
	width: 100%;
}
#join {
	background: url("../images_v2/px2.png") repeat scroll 0 0 transparent;
	margin: 30px auto 60px;
	padding: 14px;
	max-width: 922px;
	position: relative !important;
	top: 0 !important;
}

#join .text-box {
	background: #fff;
	padding: 27px 18px 0
}

#join .tabs {
	overflow: hidden;
}

#join .tabs li {
	float: left;
	font-size: 20px;
	color: #222222;
	margin-right: 2px;
}


#join .tabs li a {
	color: #222222;
	padding: 0 25px;
	background: url(../images_v2/tab.png) repeat-x 0 0;
	line-height: 57px;
	height: 57px;
	display: block;
	text-decoration: none;
}

#join .tabs li.active a {
	background: url(../images_v2/tab2.png) repeat-x 0 0;
}

#join .text-box h1 {
	font-weight: normal;
	font-size: 30px;
	color: #222222;
	margin-bottom: 15px;
}

#join .text-box .cols {
	overflow: hidden;
}

#join .text-box .cols .col-1 {
	width: 406px;
	margin-right: 30px;
	float: left;
}


#join .text-box .cols .col-2 {
	margin-right: 30px;
	float: left;
	max-width: 579px;
	padding: 39px;
	width: 100%;
	box-sizing: border-box;
}

#join .text-box .payment {
	overflow: hidden;
}

#join .col-1 .red-tit {
	font-size: 20px;
	color: #e2001a;
	font-weight: bold;
	display: block;
	margin-bottom: 16px;
}

#join .col-1 table {
	padding: 15px 0;
}

#join .col-1 table .odd td {
	background: #f3f3f3;
	width: 50%;
}


#join .col-1 .red {
	color: #e2001a;
}

#join .col-1 table td {
	width: 203px;
	text-align: center;
	padding: 5px 0;
}

#join .col-1 .timer {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color: #e2001a;
	margin-bottom: 11px;
}

#join .payment {
	display: block;
	text-align: center;
	padding: 15px 0;
	background: #f3f3f3;
	margin-left: -18px;
	margin-top: 26px;
	max-width: 922px;
}

#join .col-2 .title {
	font-size: 20px;
	color: #222222;
	display: block;
	margin-bottom: 17px;
}

#join .col-2 .acess-one {
	background: #faf133;
	font-size: 20px;
	color: #a86804;
	border: 1px solid #faeb0a;
	width: 100%;
	display: block;
	line-height: 43px;
	text-align: center;
	margin-bottom: 20px;
	text-decoration: none;
	width: auto !important;
}

#join .col-2 .or {
	text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 20px;
}

#join .col-2 .acess-one.l {
	color: #fff;
}

#join .col-2 .description {
	font-size: 12px;
	padding-top: 109px;
	padding-bottom: 20px;
}

#join.poup {
	position: relative;
	z-index: 99;
}

.overlay {
	background: #000;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 200;
	display: none;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); /* IE 5.5+*/
	-moz-opacity: 0.7; /* Mozilla 1.6 ÃÂ¸ ÃÂ½ÃÂ¸ÃÂ¶ÃÂµ */
	-khtml-opacity: 0.7; /* Konqueror 3.1, Safari 1.1 */
	opacity: 0.7; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
}

body.noscroll {
	overflow-y: scroll;
	position: fixed;
	width: 100%;
}

#join .text-box .payment a {
	color: #951136;
}

#join .text-box .cols .col-1 label,
#join .text-box .cols .col-2 label {
	font-size: 20px;
	margin-bottom: 14px;
	display: block;
	color: #222222;
}

#join .text-box .cols .col-1 label span,
#join .text-box .cols .col-2 label span {
	color: #808080;
	font-weight: 300 !important;
}

#join .text-box .cols .col-1 input[type="text"],
#join .text-box .cols .col-1 input[type="email"],
#join .text-box .cols .col-1 input[type="password"] {
	background: url("../images_v2/icons.png") no-repeat scroll 7px 3px transparent;
	border: 1px solid #c0c0c0;
	width: 370px;
	font-size: 16px;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300 !important;
	padding-left: 30px;
}

#join .text-box .cols .col-1 p {
	margin-bottom: 18px;
}

#join .text-box .cols .col-1 input[type="email"] {
	background: url("../images_v2/icons.png") no-repeat scroll 7px -64px transparent;
}

#join .text-box .cols .col-1 input[type="password"] {
	background: url("../images_v2/icons.png") no-repeat scroll 8px -31px transparent;
}

#join .text-box .cols .col-2 .col {
	float: left;
	width: 210px;
}

#join .text-box .cols .col-2 .col p.f {
	font-size: 30px;
	background: #f3f3f3;
	width: 185px;
	height: 45px;
	padding-left: 20px;
	margin-bottom: 15px;
	line-height: 44px;
}

#join .text-box .cols .col-2 .col p.f span {
	padding-left: 20px;
}

#join .text-box .cols .col-2 .col p.f input[type="radio"] {
	position: relative;
	top:-5px;
}

#join .text-box .cols .col-2 .col p.f.active {
	color: #222222;
	background: #dcdcdc;
}

#join .text-box .cols .col-1 .col p.f + p,
#join .text-box .cols .col-2 .col p.f + p,
#join .text-box .cols .col-1 .col p.f + p + p,
#join .text-box .cols .col-2 .col p.f + p + p {
	font-size: 14px;
	font-weight: 300;
}


#join .text-box .cols .col-1 .col p strong,
#join .text-box .cols .col-2 .col p strong {
	font-weight: bold;
}


#join .text-box   .join-buttom {
	border: 2px solid #FAEB0A;
	float: left;
	font-size: 30px;
	margin-top: 20px;
	padding: 2px 0;
	text-align: center;
	text-decoration: none;
	width: 196px;
	color: #a86804;
	background: #faf133;
	margin-left: 119px;
	margin-top: 25px;
}

#join .text-box   .join-buttom:hover {
	border: 2px solid #d80015;
	background: #F78093;
	color: #fff;
}


.poupup {
	position: absolute;
	top:10%;
	z-index: 999999;
	display: inline-block;
	width: 90%;
}

#join-front-bg {
	background: url(../images_v2/bg1.jpg) no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	width: 100%;
}

.poup {
	z-index: 999;
	position: relative;
}

.poupup.index {
	z-index: 999999 !important;
}

.backgraund-3 {
	background: url(../images_v2/bg2.jpg) no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#updates .breadcrumbs,
#colum-free .breadcrumbs {
	/*	background: url("../images_v2/px.png") repeat scroll 0 0 transparent;*/
	background: url(../images_v2/header-shadow.png) repeat-x 0 0;
	margin-bottom: 2px;
	padding: 0 13px;
	font-size: 20px;
	color: #fff;
	height: 74px;
	line-height: 74px;
}

#updates .anons.member .col-1 span {
	background: url("../images_v2/tbigg.png") no-repeat scroll 0 0 transparent;
	height: 255px;
	margin-left: -180px;
	position: absolute;
	width: 180px;
}

#updates .anons.member .col-1 {
	width: 194px;
	float: left;
}

#updates .anons.member .col-2 {
	float: left;
	width: 627px;
	background: #fff;
	margin-left: 13px;
	height: 233px;
	padding: 25px 30px;
}

#updates .anons.member .links {
	margin-bottom: 10px;
}

#updates .anons.member .comment,
#updates .anons.member .download  {
	color: #951136;
	background: url(../images_v2/icon2.png) no-repeat 0 4px;
	padding-left: 25px;
}


#updates .anons.member .download {
	float: right;
	background-position: 0 -29px;
}

#updates .anons.member p {
	min-height: 120px;
	overflow: hidden;
}

#updates .anons.member .col-1 .fivestar a {
	background: url(../images_v2/star.png) no-repeat 0 -31px;
	width: 20px;
	height: 20px;
	float: left;
	text-indent: -99999px;
	margin-right: 8px;
}

#updates .anons.member .col-1 .fivestar {
	padding-top: 9px;
	padding-left: 21px;
}


#updates .anons.member .col-1 .fivestar .ok {
	background-position: 0 0;
}


#colum-free {
	margin: 30px auto 2px;
	width: 950px;
}

#block-container.top {
	margin-top: 0;
	padding-bottom: 7px;
	margin-bottom: 0;
}

#comments {
	background: url("../images_v2/px2.png") repeat scroll 0 0 transparent;
	margin: 2px auto 60px;
	padding: 22px 18px 15px;
	width: 914px;
}

#comments .block {
	background: #fff;
	padding: 27px 25px 80px;
}

#comments .title {
	font-size: 30px;
	color: #fff;
	display: block;
	margin-bottom: 20px;
}

#comments .text p {
	margin-bottom: 12px;
	font-weight: 300;
}

#comments .text p strong {
	font-weight: normal;
}

#comments .text {
	margin-bottom: 37px;
}

#comments form {
	margin-left: 127px;
}

#comments textarea {
	border: 1px solid #c0c0c0;
	width: 560px;
	height: 80px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	padding: 25px;
	margin-bottom: 10px;
}

#comments  input[type="submit"] {
	float: right;
	font-size: 16px;
	color: #a86804;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	background: #fbf65e;
	padding: 10px 0;
	width: 158px;
	margin-right: 125px;
	cursor: pointer;
}

#comments  input[type="submit"]:active {
	position: relative;
	top:1px;
}

#comments  input[type="submit"]:hover {
	background: none repeat scroll 0 0 #F78093;
	color: #fff;
}

#updates .profile.small .col-1 {
	width: 195px;
	margin-right: 0;
}

#updates .profile.small .col-2 {
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	height: 130px;
	padding: 20px 30px 25;
	width: 639px;
}

#updates .profile.small .col-2 .tit {
	color: #951136;
	font-size: 20px;
	margin-bottom: 16px;
}

#updates .profile.small .col-2 .tit a {
	color: #951136;
}

#updates .profile.small .col-2 .text {
	width: auto;
}

#updates .welcome .breadcrumbs {
	background: none;
	margin-left: -14px;
}

#updates .welcome {
	background: url("../images_v2/px.png") repeat scroll 0 0 transparent;
	padding: 14px 14px 0;
}

#updates .welcome .b-title {
	font-size: 30px;
	color: #fff;
	display: block;
	padding: 10px 0 20px;
}

#updates .welcome .box-w {
	background: #fff;
	padding: 27px 25px;
}

#updates .welcome .box-w .s-title {
	font-size: 20px;
	color: #222222;
	display: block;
	margin-bottom: 14px;
}

#updates .welcome .box-w p {
	margin-bottom: 20px;
}

#updates .welcome .box-w .left {
	float: left;
	margin-right: 33px;
}

#updates .welcome .box-w a,
#updates .welcome .links-bar a  {
	color: #951136;
}

#updates .welcome .links-bar {
	overflow: hidden;
	background: #f3f3f3;
	margin-top: 2px;
	padding: 28px 28px 10px;
	font-size: 20px;
}

#updates .welcome .links-bar div {
	margin-bottom: 18px;
}

#updates .welcome .links-bar span,
#updates .welcome .links-bar a {
	margin-right: 13px;
}

#updates .welcome .links-bar a {
	padding-left: 30px;
	background: url("../images_v2/icon-set.png") no-repeat scroll 2px 5px transparent;
}

#updates .welcome .links-bar div a + a {
	background-position: 2px -22px;
}

#updates .welcome .links-bar div a + a + a {
	background-position: 2px -52px;
}

#updates .welcome .links-bar div a + a + a + a {
	background-position: 5px -81px;
}

#updates .welcome .links-bar div + div a{
	background-position: 5px -110px;
}

#updates .welcome .links-bar div + div a + a {
	background-position: 2px -141px;
}

#updates .welcome .links-bar div + div a + a + span + a {
	background-position: 2px -178px;
}

#updates .welcome .links-bar div + div a + a + span + a  + a {
	background-position: 5px -211px;
}

#updates .anons.member .col-1 .nav-bar {
	overflow: hidden;
	float: left;
	padding-top: 30px;
	position: relative;
	z-index: 2;
}

#updates .anons.member .col-1 .nav-bar a {

	color: #ffec00;
	display: block;
	margin-bottom: 17px;
}

#updates .anons.member .col-1 .nav-bar a + a {
	margin-bottom: 0;
}


#updates .anons.member .nav-bar .comment, #updates .anons.member .nav-bar .download {
	background: url("../images_v2/icon3.png") no-repeat scroll 0 4px transparent;
}


#updates .anons.member .col-1 .nav-bar .download {
	float: none;
	background-position: 0 -29px;
}

#updates .anons .bg-bottom {
	background: url("../images_v2/bg-bot.png") no-repeat scroll 0 0 transparent;
	float: left;
	height: 94px;
	margin-left: -14px;
	margin-top: -74px;
	width: 950px;
	position: relative;
	z-index: 1;
}

#updates .anons.no-padding {
	padding-bottom: 0;
}


#updates .anons.no-padding .col-1 {
	width: 178px;
	margin-right: 1px;
}

#updates .anons.no-padding .col-1.last {
	margin-right: 0;
}

#cent #block-container-white,
#cent #join {
	width: 100%;
}

#join .col-2 .acess-one:hover {
	background: #F78093;
	color: #fff;
	border: 1px solid #d80015;
}

#join .tabs li a:hover {
	text-decoration: underline;
}

#cent #join {
	height: 364px;
	margin-top: -182px;
}
