html,
body {
    padding: 0px auto;
    margin: 0px auto;
}

body {
    text-align: center;
    margin: 0px auto;
    color: #1F1F14;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    background: #101010;
}

h1,
h2 {
    font-weight: normal;
    display: inline;
    padding: 0;
    margin: 0;
}

a,
a:link,
a:active,
a:visited {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: normal;
}

a:hover {
    text-decoration: none;
}

.lblack a {
    color: #fff;
}

#top {
    padding: 5px;
    margin: 0 auto;
    background: #1b1b1b;
}

#main {
    margin: 10px auto;
    position: relative;
    max-width: 850px;
    padding-left: 150px;
}
#main::after{
  content:"";
  display:block;
  clear:both;
}
#bottom {
    margin: 20px;
    width: 90%;
    display: block;
    color: #fff;
}

.llog {
    margin: 5px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.llog a {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.lsearch {}

.linput {
    display: -moz-inline-stack;
    display: inline-block;
    font-size: 16px;    font-weight: 700;
    zoom: 1;
    *display: inline;
    margin: 0px;
    padding 0px;
    height: 32px;
    width: 300px;
    padding-left: 7px;
    border-radius: 5px;
    
    color: #505050;    border: 1px solid #d9d9d9;
    margin-bottom: 5px;
}

.linput:hover {
    border: 1px solid #B2D1E0;
}

.lsubmit:hover {
    background: #ccc;
}

.lsubmit {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
      
    line-height: 30px;
  
    width: 54px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  
    border-radius: 3px;
    background: url(img/contentHeaderBg.jpg) 0 0 repeat-x;
    border: 1px solid #ccc;
    outline: 0;
    color: #5e5e5e;
}

.lwrap {
    max-width: 840px;
    text-align: left;
    display: inline-block;    
    border-radius: 0px 3px 3px 0;    min-height: 50px;        
    padding: 4px;
    border: 1px solid #303030;
    border-left: 0;
}

.llinks {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    display: -moz-inline-stack;
    display: block;
    zoom: 1;
    *display: inline;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #303030;
}

.llinks a {
    padding: 3px;
    font-size: 15px;
}

.llink {
}
.llink .head{
      
        font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 1px 0px 0px 0px;
  
        padding: 0px 0px 0px 11px;
  background-color: #1c1c1c;
  border-top: 1px solid #1c1c1c;
  border-bottom: 1px solid #000;
  border-right: 1px solid #222;
  border-left: 1px solid #222;
  
        line-height: 32px;
  color: #fff;
        text-align: left;
}

.llink a {
  display: block;
  text-shadow: #000 0 1px;
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  padding: 4px 5px 4px 11px;
  color: #EAEAEA;
  text-decoration: none;
      text-align: left;
}

.llink a:hover {
  color: #FFF !important;
  background: #2f2f2f;
}

.llanguage {
    margin: 10px;
}

.llanguage a:hover {
    background: #484646;
}

.llanguage a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    font-weight: bold;
    text-shadow: 0 1px #000000;
    background: #323030;    color: #00a8d9;
    padding: 6px;
    margin-bottom: 5px;
}
.ltitle{
    line-height: 30px;
  
  
    padding: 0 5px 1px 4px;
  text-align: left;
  
  
  
  
  border-radius: 3px 3px 0 0;
  
}
.ltitle h1 {
    font-size: 17px;    
    color: #fff;    font-weight: bold;
}

.lsub {
     position: relative;
  float: left;
  width: 160px;
  
     height: 174px;
  margin: 5px 4px;
  text-align: left;
  font-size: 11px;
  color: #999;
}

.lsub img {
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.lsub:hover img {
    border: 1px solid #B2D1E0;
}

.lsub .ldes {
    text-align: left;
}

.lsub .ldes a {
    font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  max-height: 30px;
  display: block;
  text-decoration: none;
  overflow: hidden;
  
  
    padding: 6px 4px;
  
    color: #e20066;
}
.lsub:hover .ldes{
  background-color: #e20066;
}
.lsub:hover .ldes a{
  color:#fff !Important;
}
.lsub .lchandes {
    margin: 5px;
    text-align: left;
    font-size: 20px;
}

.lsub .lchandes a {
    color: #000000;
}

.lsub .ltt {
    text-align: left;
    padding: 4px;
}

.lsub .ltt a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    font-size: 11px;
    color: #00a8d9;
    margin-right: 3px;
}

.lsub .ltt a:hover {
  color:#fff;
}

.lpg {
    display: block;
    width: 100%;
}

.lsrt {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
     
    padding: 6px 0;
    line-height: 26px;
    font-weight: bold;
    width: 100%;
}

.lsrt a:hover {
      background: #3f3f3f;
        
      color: #00a8d9 !important;
}

.lsrt a {
      display: block;
      float: left;
      border-radius: 2px;
      min-width: 12px;
      text-align: center;
      padding: 0 10px;
      margin: 0 3px 5px 2px;
      background: #1f1f1f;
      color: #00a8d9;
      font-size: 14px;
      text-decoration: none;
      font-weight:bold;
}
