/*
cssRESET
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/**nav ul {
    list-style: none;
}
**/
blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/**a.bold {
    font-weight: bold;
    color: #2f2f2f;
    text-decoration: none;
    line-height: 14px;
}
**/
/**a.bold:visited {
    color: #7e7e7e;
}
**/
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

/**abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
**/
table {
    border-spacing: 0;
    padding: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}
/*______________resetEND*/

html {
    height: 100%;
    min-width: 1000px;
    background: url(../images/tpl2/bgMain.png?1) #f2f2f2;
}

body {
    margin: 0;
    padding: 0;
    color: #2f2f2f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    min-height: 100%;
    position: relative;
    background: url(../images/tpl2/bgTop.png?1) repeat-x fixed;
}

* html body {
    height: 100%;
}

input,
button {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #2F2F2F;
    text-decoration: none;
}

a:visited {
    color: #7e7e7e;
}

a:hover,
a.colR {
    color: #f5381f !important;
}

form,
table,
input,
h1,
h2,
h3,
h4,
a,
img {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

td {
    vertical-align: top;
}


.w100 {
    width: 100%;
}


.w50px {
    width: 50px;
}

.w258px {
    width: 258px;
}

.w20px {
    width: 20px;
}

.w2px {
    width: 2px;
}


.w40px {
    width: 40px;
}

.al {
    text-align: left;
}

.fr {
    float: right !important;
}

.di {
    display: inline-block !important;
    _overflow: hidden !important;
    *zoom: 1 !important;
    *display: inline !important;
}

.oh {
    overflow: hidden;
}

.vt {
    vertical-align: top !important;
}

#header {
    margin-bottom: 17px;
}

#main {
    padding: 0 0 216px 0;
}

.main {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

#menuLogin {
    height: 41px;
    vertical-align: top;
    color: #4f4f4f;
    white-space: nowrap;
    margin: 0 0 0 19px;
    float: right;
}

#menuLogin a {
    display: block;
    text-align: center;
    padding: 0 15px;
    float: right;
    font-weight: bold;
    font-size: 11px;
    text-shadow: white 0 1px;
    text-decoration: none;
    line-height: 18px;
    margin-top: 10px;
}

#menuLogin span {
    display: block;
    float: right;
    width: 2px;
    height: 37px;
    background: url(../images/tpl2/bgSpriteV2.png) 0 5px no-repeat;
}

#menuLogin a.colR:hover {
    color: #303030 !important;
}

.menuLang {
    position: relative;
    white-space: nowrap;
    width: 52px;
    height: 29px;
    margin: 5px 0 0 15px;
}

.menuLang .langBox {
    position: absolute;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    overflow: hidden;
    width: 50px;
    z-index: 4;
    background: #f4f4f4;
}

.menuLang a {
    display: none;
    height: 11px;
    padding: 8px;
    border-top: 1px solid #D9D9D9;
    line-height: 11px;
    font-size: 11px;
}

.menuLang .flag {
    margin-bottom: -1px;
}

.menuLang a.def {
    display: block;
    border: none;
}

.menuLang a.def .flag {
    margin-bottom: -2px;
}

.menuLang a:hover {
    background: #fff;
}

.menuLang a .iconSearchDown {
    margin: 0 0 2px 12px;
}

#footer .menuLang {
    float: right;
    margin-right: 20px;
    width: 140px;
}

#footer .menuLang .langBox {
    bottom: 0;
    width: auto;
}

#footer .menuLang a {
    border-width: 0 0 1px 0;
    width: 100px;
}

#footer .menuLang a .iconSearchDown {
    margin: 4px 0 0 0;
}

#logo {
    margin-top: 18px;
}

#search {
    width: 100%;
    margin-top: 3px;
}

#search input,
#search button {
    border: none;
    height: 33px;
    margin: 0;
    padding: 0;
}

#search .select {
    position: relative;
    float: left;
    color: #969696;
    font-size: 12px;
    line-height: 31px;
    text-align: left;
    cursor: pointer;
    z-index: 4;
    border: 1px solid #d9d9d9;
    padding: 0 20px 0 10px;
    background: #F9F9F9;
    white-space: nowrap;
}


#search .list {
    display: none;
    position: absolute;
    top: 31px;
    left: -1px;
    border: 1px solid #d9d9d9;
    border-top: 0;
    z-index: 4;
    min-width: 100%;
}

#search .select .icon {
    float: right;
    margin: 15px -13px 0 0;
}

#search .list a {
    text-align: left;
    padding: 0 5px;
    display: block;
    color: #969696;
    border-top: 1px solid #eaeaea;
    line-height: 25px;
    background: #f4f4f4;
}

#search .list a:hover {
    background: #FFF;
}

#search .list a.sel {
    background: #FFF;
}

#search .text {
    background: #fff;
    line-height: 31px;
    height: 33px;
    padding-left: 7px;
    width: 401px;
    float: left;
    font-size: 12px;
    color: #505050;
    border: 1px solid #d9d9d9;
    border-right: none;
    border-radius: 3px 0 0 3px;
    outline: 0;
    box-sizing: border-box;
}

#search .text:-moz-placeholder {
    color: #EEE;
}

.lightPlaceholder::-webkit-input-placeholder {
    /* WebKit browsers */
    
    opacity: 0.5;
}

.lightPlaceholder:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    
    opacity: 0.5;
}

#search .submit {
    background-image: url(../images/tpl2/icons.png?10);
    background-repeat: no-repeat;
    background-position: -56px -51px;
    line-height: 33px;
    width: 54px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0 3px 3px 0;
}

#search .submit span {
    display: none;
    background-image: url(../images/tpl2/icons.png?10);
    background-repeat: no-repeat;
    background-position: -56px -51px;
    width: 35px;
    height: 32px;
    padding: 0;
    margin: 0;
}

#search .submit:hover,
#search .submit span:hover {
    background-position: -112px -51px;
}
.box {
    border-radius: 3px;
}

.box .boxC {
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    min-height: 50px;
    background: url(../images/tpl2/boxBg.png);
    padding: 4px;
}

.box .boxC {
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 3px 3px;
}

.box .line,
.box .lineS{
    border-bottom: 1px solid #d1d1d1;
    height: 1px;
}


.box .head,
.box h2 {
    line-height: 30px;
    border: 1px solid #d1d1d1;
    padding: 0 5px 1px 9px;
    text-align: left;
    font-size: 14px;
    color: #494949;
    font-weight: bold;
    background: url(../images/tpl2/contentHeaderBg.jpg) 0 0 repeat-x;
    border-radius: 3px 3px 0 0;
    text-shadow: #F2F2F2 0 1px;
}

.box .head h1 {
    font-weight: bold;
    display: inline;
}

.box h2 a,
.box h2 a:visited,
.box .head a,
.box .head a:visited {
    color: #494949;
}

.box .head,
.box h2 {
    height: 30px;
    line-height: 30px;
}


.box h2 .icon,
.box .head .icon {
    margin: 4px 5px;
}

.box .gr .icon {
    float: right;
    margin: 8px 2px;
    cursor: pointer;
}

.box h2 a:hover,
.box .head a:hover {
    background-position: -58px -111px;
}

.box .head.gr,
.box h2.gr,
.box h3.gr {
    background: #505050;
    border-color: #505050;
    text-shadow: #000 0 1px;
    color: #FFF;
}

.boxR h2,
.box .head {
    border-radius: 3px 3px 0 0;
}

.boxL h2,
.boxL .head {
    border-radius: 0 3px 0 0;
}

.boxTL h2,
.boxTL .head {
    border-radius: 0 3px 0 0;
}

#vPromo,
#idxFeach {
    float: left;
    width: 517px;
    background: #E2E2E2;
    margin-bottom: 10px;
}

#idxFeach {
    float: right;
    margin-left: 10px;
    width: 324px;
}

#vPromo .boxC,
#idxFeach .boxC,
#vPromo .loader{
    height: 390px;
    background: url(../images/tpl2/popularBg.png?1) 0 0 repeat-y #f1f1f1;
    position: relative;
}

#idxFeach .boxC {
    padding: 0 0 8px 0;
    position: relative;
}
#content {
    margin-top: 17px;
}

hr,
.clear {
    clear: both;
    border: none;
    padding: 0;
    margin: 0;
    height: 10px;
}

.video {
    position: relative;
    float: left;
    width: 160px;
    height: 174px;
    margin: 5px 4px;
    text-align: left;
    font-size: 11px;
    color: #999;
}
.video a {
    display: block;
    position: relative;
    text-decoration: none;
}

.video b,
/**.video .hPaid**/ {
    display: block;
    position: absolute;
    top: 102px;
    color: #F6F6F6;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
    padding: 2px 4px;
    background: #4c4c4c;
    font-size: 11px;
    line-height: 13px;
    height: 12px;
    text-shadow: #565656 0 1px;
    z-index: 2;
}

.video b {
    left: 2px;
}
.video .hSprite {
    background-repeat: no-repeat;
    height: 120px;
    left: 0;
    position: absolute;
    top: 0;
    width: 160px;
    z-index: 2;
}
.video u {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    max-height: 30px;
    display: block;
    text-decoration: none;
    overflow: hidden;
    margin-top: 6px;
    padding: 0 4px;
}

.video .thumb {
    display: block;
    width: 160px;
    height: 120px;
}

.hRate,
.hUnrate,
.hNorate {
    padding: 8px 22px 0 4px;
    background-image: url(../images/tpl2/rate.png);
    background-position: 140px 1px;
    background-repeat: no-repeat;
    color: #999999;
    font-size: 11px;
    text-align: left;
}

.views-value {
    color: #999999 !important;
    font-weight: normal !important;
}

.views-value:before {
    content: '';
    display: block;
    float: left;
    width: 17px;
    height: 10px;
    margin-right: 5px;
    background: url(../images/tpl2/icons.png?10) -620px -170px;
}

.hRate div {
    font-weight: bold;
    color: #89a650;
}

#footer {
    color: #252525;
    font-size: 11px;
    margin-top: 10px;
    bottom: 0;
    position: absolute;
    /*
        height:226px;
    */
    
    width: 100%;
}

#footerBox {
    background: url(../images/tpl2/footerBg.png);
    min-width: 1000px;
}

#footer .shadow {
    background-image: url(../images/tpl2/footerShadow.png?1);
    background-position: center 0;
    background-repeat: no-repeat;
}

#footer .shadowTop {
    margin-top: 15px;
    height: 13px;
    border-bottom: 1px solid #FFF;
}

#footer .shadowDown {
    height: 13px;
    border-bottom: 1px solid #f5f5f5;
    background-position: center -18px;
}

#footer #cols {
    width: 1000px;
    margin: 0 auto;
    vertical-align: top;
}

#footer #cols,
#footer ul {
    height: 140px;
}

#footer ul {
    background: url(../images/tpl2/border.png) 0 -25px no-repeat;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0 10px;
    width: 210px;
}

#footer ul.last {
    width: 275px;
}

#footer #first {
    background: none;
}

#footer #last {}

#footer .col-head {
    font-size: 18px;
    color: #494949;
    margin: 5px 0 3px;
    text-shadow: 0 1px #fff;
}

#footer .col-head span {
    line-height: 40px;
    border-bottom: 1px dashed #c8c8c8;
    padding-bottom: 8px;
}

#footer li {
    letter-spacing: 1px;
    line-height: 18px;
}

#footer li a {
    background-image: url(../images/tpl2/footerIcon.png);
    background-repeat: no-repeat;
    background-position: 5px 6px;
    height: 13px;
    padding: 1px 0 4px 18px;
    width: 190px;
    line-height: 13px;
    color: #666;
    text-decoration: none;
}

#footer li.social-links {
    background-image: url(../images/tpl2/footerIcon.png);
    background-repeat: no-repeat;
    background-position: 5px 6px;
    height: 18px;
    padding: 0 0 0 18px;
    color: #666;
}

#footer li.social-links a {
    background: none;
    padding: 0;
    text-decoration: underline;
    height: auto;
    width: auto;
}

#footer #buttons {
    border-top: 1px solid #f5f5f5;
    padding: 10px 0 5px 0;
    height: 40px;
}

#footer #buttons #copy {
    color: #777;
    margin-top: 6px;
    float: left;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 25px;
    padding-left: 10px;
    text-shadow: 0 1px #f3f3f3;
}

#footer #buttons #copy span {
    color: #F00;
}

#footer #buttons img {
    display: block;
    float: right;
    padding-right: 10px;
    border: none;
}
/* -------------  footer CSS -------------- end */

.icon,
.iconL {
    display: block;
    background-image: url(../images/tpl2/icons.png?10);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    overflow: hidden;
}

.iconL {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.iconMale,
.iconTrans,
.iconGays,
.iconStraight {
    width: 19px;
    height: 16px;
}

.iconClose,
.iconCloseOver {
    width: 19px;
    height: 19px;
    background-position: -472px -86px;
}
.iconCountry {
    background: none;
}

.iconCountry,
.iconCountry img {
    width: 14px;
    height: 11px;
}
.iconMale {
    background-position: -203px -48px;
    height: 14px;
    width: 14px;
}
.iconMail,
.iconMailOver {
    background-position: -91px -124px;
    width: 17px;
    height: 11px;
}

.iconMailOver {
    background-position: -91px -112px;
}
.iconRefresh {
    background-position: 0 -51px;
    height: 14px;
    width: 15px;
}
.iconRefresh:hover {
    background-position: -17px -51px !important;
}

.iconSearchUp,
.iconSearchDown {
    background-position: -2px -68px;
    height: 3px;
    width: 6px;
}

.iconSearchDown {
    background-position: -2px -72px;
}

.iconPagerNext,
.iconPagerPrev,
.iconPagerNextHover,
.iconPagerPrevHover {
    background-position: -11px -69px;
    height: 5px;
    width: 8px;
}

.iconPagerPrev {
    background-position: -11px -76px;
}

.iconPagerNextHover {
    background-position: -20px -69px;
}

.iconPagerPrevHover {
    background-position: -20px -76px;
}

.iconPagerDown {
    background-position: -175px -26px;
    height: 8px;
    width: 5px;
}

.iconArrowBL,
.iconArrowBR,
.iconArrowBLhover,
.iconArrowBRhover {
    width: 26px;
    height: 24px;
    background-position: 0 -26px;
}

.iconArrowBL {
    background-position: -28px -26px;
}

.iconArrowBLhover {
    background-position: -28px 0;
}

.iconArrowBRhover {
    background-position: 0 0;
}


.iconLike,
.iconUnLike 
{
    background-position: -113px -112px;
    height: 23px;
    width: 22px;
}
.tools .iconLike {
    margin: 1px 3px 0 4px;
}

.tools .iconUnLike {
    margin: 1px 4px 0 3px;
}

.iconUnLike {
    background-position: -194px -24px;
}

.iconUnLikeOver {
    background-position: -136px -111px;
}

.iconLikeOver {
    background-position: -194px -1px;
}

.iconLoad {
    background-position: -14px -86px;
    height: 15px;
    width: 13px;
}

.iconLoadOver {
    background-position: 0 -86px;
}

.tools .iconLoad,
.tools .iconLoadOver {
    margin: 6px 6px 0 0;
}

.iconFav{
    background-position: -180px -66px;
    height: 15px;
    width: 19px;
}

.iconFavOver {
    background-position: -180px -48px;
}
.tools .iconFav,
.tools .iconFavOver {
    margin: 5px 3px 0 5px;
}

.iconFlag,
.iconFlagOver,
.iconFlagGray {
    background-position: -35px -68px;
    height: 15px;
    width: 13px;
}


.iconFlagOver {
    background-position: -35px -86px;
}

.tools .iconFlag,
.tools .iconFlagOver {
    margin: 5px 5px 0 5px;
}

.iconFlag_en {
    height: 11px;
    width: 16px;
    background-position: -224px -165px;
}

.iconFlag_de {
    height: 11px;
    width: 16px;
    background-position: -242px -165px;
}

.iconFlag_fr {
    height: 11px;
    width: 16px;
    background-position: -278px -165px;
}

.iconFlag_es {
    height: 11px;
    width: 16px;
    background-position: -260px -165px;
}

.iconFlag_it {
    height: 11px;
    width: 16px;
    background-position: -296px -165px;
}

.iconFlag_ru {
    height: 11px;
    width: 16px;
    background-position: -332px -165px;
}

.iconFlag_pt {
    height: 11px;
    width: 16px;
    background-position: -206px -165px;
}

/**.iconFlag_ja,
**/.iconFlag_jp {
    height: 11px;
    width: 16px;
    background-position: -350px -165px;
}

.iconFlag_nl {
    height: 11px;
    width: 16px;
    background-position: -368px -165px;
}

.iconFlag_pl {
    height: 11px;
    width: 16px;
    background-position: -314px -165px;
}

.adVideo {
    height: 346px;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
    padding: 14px 0;
    float: right;
    width: 325px;
    text-align: center;
    font-size: 10px;
    color: #7a7a7a;
    margin: 5px 5px 8px 0;
    background: url(../images/tpl2/adVideo.png) center bottom no-repeat;
    text-shadow: #F4F4F4 0 1px;
}
.adVideo2 {
    height: 576px;
    margin-top: 0;
    margin-right: 0;
    padding-top: 14px;
}

.adVideo a {
    line-height: 56px;
    color: #b1afaf;
    text-decoration: underline;
}

.adVideo2 a {
    line-height: 30px;
    margin: 12px 0;
    padding-bottom: 0;
}

.adVideo a:hover,
.adVideo a.red:hover {
    color: #2F2F2F !important;
}

.adVideo .clear {
    border: none;
    background: url(../images/tpl2/adShadow.png) center -3px no-repeat;
    height: 3px;
    display: block;
    margin: 6px 0 3px 0;
}

.adVideo2 .clear {
    margin: 0 0 5px;
}

.hintBox {
    position: absolute;
    z-index: 10000;
    color: #7d7d7d;
    font-size: 11px;
    display: none;
    margin-top: -10px;
    margin-left: -50%;
}

.hintBox .box {
    background-image: url("../images/tpl2/hintBg.png");
    background-repeat: repeat-x;
    background-position: left bottom;
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.hintBox .txt {
    padding: 5px 10px;
}

.hintL .txt {
    padding: 7px 10px;
}

.hintBox b {
    color: #8fad55;
}

.hintBox u {
    color: #f5381f;
    text-decoration: none;
}

.hintBox .arrow {
    background-image: url("../images/tpl2/hintArrow.png?3");
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 6px;
    width: 11px;
    position: absolute;
    margin: 0 0 0 -5px;
    left: 50%;
}

.hintL {
    margin-top: -10px;
}

.hintL .arrow {
    background-position: -12px 0;
    left: 100%;
    top: 50%;
    margin: -6px 0 0 0;
    width: 6px;
    height: 11px;
}

.hintB .arrow {
    background-position: -12px 0;
    left: 50%;
    top: -8px;
    margin: 0px 0 0 -3px;
    width: 6px;
    height: 11px;
    transform: rotate(-90deg);
    opacity: 1;
}

.tools {
    height: 36px;
    padding: 9px 8px 9px 9px;
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
}

.tools a {
    border: 1px solid #cecece;
    border-radius: 3px;
    background-image: url("../images/tpl2/bgSpriteV2.png");
    background-repeat: repeat-x;
    background-position: 0 -187px;
    background-color: #e0e0e0;
    display: block;
    margin: 0 0 0 8px;
    line-height: 24px;
    height: 24px;
    padding: 5px 10px;
    font-weight: bold;
    color: #666;
    font-size: 12px;
}

.tools a:hover {
    background-position: 0 -231px;
    background-color: #f1f1f1;
}

.tools a.r {
    margin-left: 0;
    border-radius: 0 3px 3px 0;
}

.tools a.l {
    margin: 0;
    border-radius: 3px 0 0 3px;
}

.tools a.l:hover {
    color: #89a651 !important;
}

.tools a .icon {
    float: left;
}
.tabs {}

.tabs .head {
    height: 34px;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.tabs .head a {
    display: block;
    border: 1px solid #d8d8d8;
    border-radius: 3px 3px 0 0;
    line-height: 30px;
    padding: 0 10px;
    color: #494949;
    font-size: 14px;
    font-weight: bold;
    float: left;
    margin-right: 7px;
    margin-top: 2px;
    background-image: url(../images/tpl2/bgSpriteV2.png);
    background-position: 0 -320px;
    background-repeat: repeat-x;
    background-color: #f0efef;
    height: 31px;
    text-decoration: none;
}

.tabs .head a.sel {
    border-bottom: none;
    margin-top: 0;
    height: 34px;
    line-height: 34px;
}

.tabs .head a.sel,
.tabs .head a.sel:hover {
    background-position: 0 -389px;
    background-color: #ebebeb;
}

.tabs .head a:hover {
    background-position: 0 -355px;
    background-color: #f1f1f1;
}


.tabs .content {
    border: 1px solid #d8d8d8;
    border-radius: 0 3px 3px 3px;
    background-color: #ebebeb;
    max-width: 998px;
}

.tabs .tab {
    display: none;
    padding-bottom: 3px;
}
.user {
    float: left;
    width: 80px;
    margin-right: 10px;
    background: url('../images/tpl2/userBg.png') 0 0 repeat-x #ececec;
    border: 1px solid #d9d9d9;
    padding: 2px 5px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1px #F0F0F0;
    font-weight: bold;
    font-size: 11px;
}
.user .name {
    line-height: 19px;
    text-decoration: none;
}

.user .thumb {
    text-align: center;
    margin: 3px 0;
    line-height: 0;
    vertical-align: middle;
    height: 80px;
    width: 80px;
    position: relative;
}

.user .thumb img {
    height: 80px;
    width: 80px;
}
.user .icons {
    line-height: 0;
    padding: 2px 0;
}

.user .icon {
    display: block;
    float: left;
    margin: 0 2px;
}

.user .iconCountry {
    margin-top: 1px;
    margin-bottom: 1px;
}

.user .iconMail {
    margin-top: 1px;
    margin-bottom: 2px;
    cursor: pointer;
}
.adSpot {
    overflow: hidden;
    margin: 0 auto;
}

.adVideo2 .adSpot {
    margin: 10px auto;
}

.menu2 {
    position: relative;
    height: 70px;
    margin-top: 16px;
}

.menu2 a {
    display: block;
    float: left;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px #000000;
}

.menu2 a:hover {
    color: #FFFFFF !important;
}

.menu2 .l1 {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.menu2 .l1,
.menu2 .l1 a {
    background: url(../images/tpl2/bgSpriteV2.png) 0 -54px repeat-x #434343;
    height: 36px;
}

.menu2 .l1 a {
    font-size: 14px;
    line-height: 36px;
    padding: 0 16px 1px;
    border-left: 1px solid #5B5B5B;
    border-right: 1px solid #454545;
}

.menu2 .l1 a:first-child {
    border-radius: 5px 0 0 0;
    border-left: none;
}

.menu2 .l1 a:hover,
.menu2 .l1 a.sel {
    background-position: 0 -101px;
    background-color: #535353;
}

.menu2 .l2 {
    background: #535353;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    position: relative;
    height: 33px;
}

.menu2 .l2 .sub {
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    position: absolute;
}

.menu2 .l2 .sub a {
    left: 0;
    height: 33px;
    line-height: 32px;
    font-size: 12px;
    padding: 0 15px;
}

.menu2 .l2 .sub a:first-child {
    border-radius: 0 0 0 5px;
}

.menu2 .l2 .sub a:hover {
    background: #373737;
}

.menu2 .l2 .sub .hint {
    display: inline-block;
    margin-left: 4px;
}

/**.menu2 .l2 .sub .hint div {
    margin-bottom: -3px;
}
**/
.menu2 .l2 .sub a:first-child {
    border-left: none;
}
.menu2 .l1 .last {
    padding-right: 6px;
}

.menu2 .l1 .last a {
    line-height: 25px;
    float: right;
    font-size: 11px;
    background-image: url(../images/tpl2/icons.png?10);
    background-position: -224px -105px;
    background-repeat: no-repeat;
    background-color: transparent;
    color: #ebebeb;
    text-shadow: none;
    font-weight: bold;
    width: 29px;
    padding: 0;
    height: 25px;
    overflow: hidden;
    margin-top: 6px;
    border: none;
    border-radius: 0;
    margin-left: 8px;
}

.menu2 .l1 .last a:hover {
    background-position: -254px -105px;
}

.menu2 .l1 .last a.itemRand {
    background-position: -466px -107px;
}

.menu2 .l1 .last a.itemRand:hover {
    background-position: -496px -107px;
}

.menu2 .l3 {
    position: relative;
}

a.arrow {
    display: block;
    background: url(../images/tpl2/icons.png?10) no-repeat -125px -29px;
    width: 22px;
    height: 18px;
}

a.arrow:hover {
    background-position: -79px -29px;
}
#idxFeach .head {
    background: url("../images/tpl2/popularHead.png") repeat-x scroll 0 0 #F1F1F1;
    height: 33px;
    line-height: 33px;
    padding-left: 10px;
    border-radius: 0;
    border: 0;
}

#idxFeach .head a {
    font-weight: bold;
    font-size: 12px;
    color: #2f2f2f;
}

#idxFeach .head a:hover {
    color: #F5381F;
}

#idxFeach .block {
    height: 192px;
    padding-top: 5px;
    width: 315px;
    margin-left: 1px;
}

#idxFeach .item,
#idxFeach .thumb {
    width: 101px;
}

#idxFeach .item {
    float: left;
    height: 94px;
    margin-left: 4px;
    overflow: hidden;
}

#idxFeach .thumb {
    height: 76px;
    background-color: #d6d6d6;
    text-align: center;
    margin-bottom: 2px;
    position: relative;
}

#idxFeach a {
    font-size: 11px;
    text-shadow: 0px 1px #FFF;
    white-space: nowrap;
}

#idxFeach a.arrow {
    display: none;
    float: left;
    background-image: url(../images/tpl2/icons.png?10);
    background-position: -125px -29px;
    background-repeat: no-repeat;
    width: 22px;
    height: 18px;
    margin: -20px 0 0 8px;
}

#idxFeach a.arrow:hover {
    background-position: -79px -29px;
}

#idxFeach .online {
    background: url(../images/tpl2/online.gif?2) 0 0 no-repeat;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 6px;
    height: 6px;
    border-radius: 4px;
    border: 1px solid #727a60;
}

#adBottom {
    height: 250px;
    padding: 0;
    margin-top: 17px;
    text-align: center;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
    background: url(../images/tpl2/boxBg.png);
}
/*BANNER*/

.banner {
    width: 638px;
    height: 60px;
    overflow: hidden;
    font-size: 14px;
    color: #5d5d5d;
    line-height: normal;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

.banner__title {
    width: 168px;
    position: absolute;
    display: block;
    top: 10px;
    left: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #6d6d6d!important;
    line-height: normal;
    cursor: pointer;
}

.banner__title__label {
    font-size: 16px;
    font-weight: normal;
    padding: 3px 0 0 0;
}

.banner__category {
    position: absolute;
    top: 0;
    right: 0;
    width: 465px;
    margin: 0;
    padding: 0;
    line-height: normal;
    font-size: 14px;
    list-style: none;
}

.banner__category__item {
    width: 149px;
    height: 32px;
    padding: 0 0 0 6px;
    margin: 0;
    float: left;
    line-height: normal;
}

.banner__category__item__link,
#playerBox .sponsorBottom .banner__category__item__link {
    display: block;
    height: 25px;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    color: #5d5d5d!important;
    text-decoration: none;
    background: #fff;
    border: 1px solid #d3d3d3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.banner__category__item__link:hover,
#playerBox .sponsorBottom .banner__category__item__link:hover {
    color: #f62e1d!important;
    background: #f1f1f1;
    border-color: #cecece;
}

.banner__category__item__link .iconPagerNext {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
}

.font-color-red {
    color: #f62e1d !important;
}
#related .more {
    background: url("../images/tpl2/footerShadow.png") center -18px no-repeat;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#related .more a {
    display: inline-block;
    background-image: url("../images/tpl2/bgSpriteV2.png");
    background-position: 0 -187px;
    background-repeat: repeat-x;
    background-color: #E0E0E0;
    border: 1px solid #CECECE;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 0 0 0 15px;
    padding: 0 13px;
    text-decoration: none;
}

#related .more a:hover {
    background-position: 0 -231px;
    background-color: #f1f1f1;
}

#related .more .icon {
    float: right;
    margin: 13px 0 0 10px;
}

/**#related .more .iconPagerDown {
    margin-top: 11px !important;
}
**/
#related .arrowR {
    width: 54px;
    background: url("../images/tpl2/videoRelatedArrowBgR.png") 0 center no-repeat;
}

#related .arrowL {
    width: 54px;
    background: url("../images/tpl2/videoRelatedArrowBgL.png") right center no-repeat;
}

#related .arrowR a,
#related .arrowL a {
    display: block;
    margin-top: 221px;
    width: 26px;
    height: 26px;
}

#related .arrowR a {
    margin-left: 9px;
}

#related .arrowL a {
    margin-left: 18px;
}
#related {
    margin-top: 17px;
}

#related .tab {
    min-height: 360px;
}

/**#related .loader {
    height: 360px;
}
**/
#relatedVid {
    padding: 10px 0 0 0;
    position: relative;
}

#relatedVid .video {
    margin: 0 9px 10px 9px;
}

#relatedVid .more {
    background: url("../images/tpl2/footerShadow.png") center -18px no-repeat;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#relatedVid .more a {
    display: inline-block;
    background: #e0e0e0 url("../images/tpl2/bgSpriteV2.png") 0 -187px repeat-x;
    border: 1px solid #CECECE;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 0 0 0 15px;
    padding: 0 13px;
    text-decoration: none;
}

#relatedVid .more a:hover {
    background-position: 0 -231px;
    background-color: #f1f1f1;
}

#relatedVid .more .icon {
    float: right;
    margin: 13px 0 0 10px;
}

/**#relatedVid .more .iconPagerDown {
    margin: 11px 0 0 10px !important;
}
**/
#relatedVid .arrowR {
    width: 54px;
    background: url("../images/tpl2/videoRelatedArrowBgR.png") 0 center no-repeat;
}

#relatedVid .arrowL {
    width: 54px;
    background: url("../images/tpl2/videoRelatedArrowBgL.png") right center no-repeat;
}

#relatedVid .arrowR a,
#relatedVid .arrowL a {
    display: block;
    margin-top: 160px;
    width: 26px;
    height: 26px;
}

#relatedVid .arrowR a {
    margin-left: 9px;
}

#relatedVid .arrowL a {
    margin-left: 18px;
}
#relatedVidList,
#relatedVidList .loader {
    width: 890px;
    height: 380px;
}

#relatedPhotoLoader,
#relatedVideoLoader {
    clear: both;
}
/*COMMENT*/

#commentBox {}

#commentBox a {
    color: #2F2F2F;
    font-weight: bold;
}

#commentBox a:hover {
    color: #f5381f !important;
}

#commentBox .boxC {
    padding: 16px;
}

#commentInput {
    border: 1px solid #fbfbfb;
    border-top-color: #c4c4c4;
    border-radius: 3px;
    padding: 4px;
    background-color: #f5f5f5;
    width: 100%;
    resize: vertical;
    height: 50px;
}

#commentForm {
    margin-right: 10px;
}

#commentForm .commentFormBox {
    position: relative;
}

#commentSub .line {
    height: 0;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #F0F0F0;
}


#commentForm .spacer {
    border: none;
    border-bottom: 1px solid #DEDEDE;
    margin-top: 10px;
    margin-right: -10px;
}

#commentForm .textHint {
    position: absolute;
    color: #808080;
    top: 8px;
    left: 8px;
}

#commentForm .textHint a {
    font-weight: normal;
}

#commentToggle {
    display: block;
    float: right;
    font-size: 11px;
    cursor: pointer;
    margin-right: 0;
}

#commentToggle span {
    display: none;
}


#commentBox .loader {
    text-align: center;
    margin: 10px 50px;
    height: 20px;
    display: none;
    background: url("../images/tpl2/commentPost.gif") no-repeat center center;
}

#commentForm a {
    text-decoration: underline;
}

.canRoll #commentSub {
    display: none;
}

#commentList {
    margin-top: 10px;
}

#commentList .item {}
#commentList .oh {
    line-height: 16px;
}
#commentList .tool {
    font-size: 10px;
    color: #808080;
    line-height: 11px;
    text-shadow: 0 1px #F4F4F4;
    padding: 5px 0;
}

#commentList .txt,
.replyText .txt {
    background: #f4f4f4;
    border: 1px solid #d9d9d9;
    padding: 6px 10px 9px 10px;
    border-radius: 3px;
    box-shadow: 0 1px #F0F0F0;
    margin-left: 102px;
    position: relative;
}

#commentList .reply {
    color: #808080;
    font-size: 10px;
    line-height: 11px;
    text-shadow: 0 1px #F4F4F4;
    margin-top: 3px;
    margin-right: 3px;
    margin-left: 103px;
}

#commentList .reply a {
    color: #808080;
}

#commentList .txtArrow {
    background: url(../images/tpl2/icons.png?10) -1px -138px no-repeat;
    height: 10px;
    left: -8px;
    position: absolute;
    top: 10px;
    width: 9px;
}

#commentBox h2.gr,
#commentBox .head.gr {
    border-radius: 3px 3px 0 0;
    padding: 0 10px;
}

#commentBox h2.canRoll,
#commentBox .head.canRoll {
    cursor: pointer;
    border-radius: 0 0 3px 3px;
}

#commentList .tool a {
    display: block;
    width: 11px;
    height: 11px;
    background-image: url(../images/tpl2/icons.png?10);
    background-repeat: no-repeat;
    background-position: -26px -139px;
    background-color: #b3b3b3;
    border-radius: 2px;
    margin-left: 10px;
    float: right;
    box-shadow: 0 1px #F0F0F0;
}

#commentList .tool a:hover {
    background-color: #f5381f;
}

#commentList .tool a.commReport {
    background-position: -15px -139px;
}


#commentBox h2.canRoll a:hover,
#commentBox h2.canRoll:hover,
#commentBox .head.canRoll a:hover,
#commentBox .head.canRoll:hover {
    color: #CCC !important;
}

.replyText {
    margin: 0 0 5px 0;
    width: 100%;
    display: none;
}

.replyText span {
    line-height: 32px;
    display: inline-block;
    font-weight: bold;
    white-space: nowrap;
    margin-right: 10px;
}

.replyText .txt {
    margin: 0;
    font-weight: normal;
    line-height: 16px;
}

.replyText .iconL {
    margin: 6px -10px 0 10px;
}

.replyText .iconClose:hover {
    background-position: -492px -86px;
}

.hRotator span {
    background-image: url("../images/tpl2/loadVideo.gif");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    font-size: 1px;
    height: 10px;
    left: 127px;
    position: absolute;
    top: 2px;
    width: 31px;
    z-index: 1;
    border-radius: 2px;
}