#playerBox span {
    color: #808080;
}

#videoInfo {
    color: #4f4f4f;
}

#videoInfoBox {
    padding: 15px 15px 5px 15px;
    background: url(../images/tpl2/videoInfoBg.png) repeat-x;
}

#videoInfo a {
    color: #000;
    font-weight: bold;
}

#videoInfo a:hover {
    color: inherit;
}

#videoUser .item {
    float: left;
    padding-right: 20px;
    line-height: 20px;
}

.btnList a {
    background-image: url("../images/tpl2/bgSpriteV2.png");
    background-repeat: repeat-x;
    background-position: 0 -468px;
    background-color: #ececec;
    border: 1px solid #cecece;
    line-height: 15px;
    padding: 3px 6px 4px 6px;
    border-radius: 3px;
    color: #707070;
    font-size: 11px;
    margin: 0 6px 7px 1px;
    box-shadow: 0 1px #f0f0f0;
    display: block;
    float: left;
    font-weight: bold;
    text-decoration: none;
}

.btnList a:hover {
    background-position: 0 -498px;
    background-color: #f2f2f2
}

#channels {
    padding-top: 14px;
}

#channels a {
    color: #707070;
}

#btnLike {
    padding: 5px 6px;
}

#btnLoad {
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    padding: 0 7px;
    text-align: left;
    white-space: nowrap;
}

#btnLoad .iconL {
    margin: 0 5px -4px;
}

#btnReport {
    padding: 5px 8px;
}

#btnReport,
#btnShare {
    float: right;
}

#btnShare {
    padding: 5px 12px;
    white-space: nowrap;
}

.tools a,
.tools .rate {
    box-shadow: 0 1px #f0f0f0;
    text-decoration: none;
}

#playerBox,
#commentBox {
    width: 658px;
}

#playerBox .boxC {
    padding: 4px 0 4px 0;
    border-radius: 0;
}

#playerSwf {
    height: 504px;
}

#playerSwf {
    margin: 5px 9px 9px 9px;
    background: #000;
    color: #FFF;
    position: relative;
}

#playerBox .rate {
    float: left;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    width: 100px;
    font-size: 10px;
    height: 24px;
    text-align: center;
    padding: 5px 7px;
    margin: 0;
    line-height: 16px;
    background-image: url("../images/tpl2/toolRateBg.png");
    background-repeat: repeat-x;
    background-position: -1px 0;
    background-color: #e0e0e0;
}

#playerBox .rate div {
    background-color: #f56c6c;
    background-image: url("../images/tpl2/rateShadow.png");
    background-repeat: repeat-x;
    background-position: 0 0;
    height: 4px;
    margin: 3px 0;
    border-radius: 0 3px 3px 0;
    box-shadow: 0 1px #F0F0F0;
}

#playerBox .rate .green {
    background-color: #a5c665;
    border-radius: 3px 0 0 3px;
}

#playerBox .sponsorBottom {
    color: #5D5D5D;
    font-weight: bold;
    font-size: 12px;
    margin: 9px 9px 14px 9px;
}

#playerBox .sponsorBottom {
    text-align: center;
    margin: 9px;
    line-height: 15px;
}

#playerBox .sponsorBottom a {
    color: #f5381f;
}

#playerBox .sponsorBottom a:hover {
    color: #2F2F2F !important;
}

#shareBox {
    margin: 0 10px;
    display: none;
}

#shareBox td {
    padding: 5px;
}

#shareBox textarea {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 6px;
    background-color: #f9f9f9;
    width: 98%;
    resize: vertical;
    font-size: 11px;
    color: #4f4f4f;
}

#shareBox span {
    line-height: 22px;
    white-space: nowrap;
}

#shareBox .text {
    position: relative;
}

#shareBox .text .icon {
    position: absolute;
    top: -5px;
    left: 364px;
    width: 12px;
    height: 8px;
    background-position: -36px -55px;
}

.tools {
    border-bottom: none;
}

.line {
    border-bottom: 1px solid #D1D1D1;
    height: 1px;
}

.addThis {
    height: 36px;
    text-align: center;
    clear: both;
    margin: 0 auto;
}

.addthis_button_compact {
    line-height: 32px;
    font-weight: bold;
}

#idxFeach .boxC {
    height: 685px;
}

.adVideo {
    margin: 0;
}

.adVideo2 {
    width: 330px;
    height: 661px;
    margin: 0 0 0 10px;
    padding-top: 0;
}
