*{
    font-family: Tahoma;
    font-size: 14px;
}
label{
    text-decoration: underline;
    cursor: pointer;
    margin-right: 20px;
}
label[for="red"]{
    color: red;
}
label[for="green"]{
    color: green;
}
label[for="blue"]{
    color: blue;
}
input[type="checkbox"]{
    display: none;
}

span{
    display:inline-block;
    color:#fff;
    padding: 2px 5px;
    border-radius:7px;
}
span.red{
    background: red;
}
span.green{
    background: green;
}
span.blue{
    background: blue;
}

input#red:checked ~ label[for="red"]{
    opacity: 0.5;
}
input#red:checked ~ span.red{
    display:none;
}
input#green:checked ~ label[for="green"]{
    opacity: 0.5;
}
input#green:checked ~ span.green{
    display:none;
}
input#blue:checked ~ label[for="blue"]{
    opacity: 0.5;
}
input#blue:checked ~ span.blue{
    display:none;
}