body{
	margin: 0;
	padding: 0;
}
.main{
	background-color: #1AA4FF;
}
.main ul{
	margin: 0 auto;
	padding: 0;
	width: 900px;
}
.main ul
.main li{
	display: inline-block;
}
.main li a{
	display: block;
	font-family: Impact;
	text-transform: uppercase;
	padding: 5px 9px;
	text-decoration: none;
	color: #FFF;
	font-size: 20px;
	margin-right: 15px;
}
.main li a:hover{
	background-color: #EEE;
	color: #A59F9A;
}