/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background: #1b1b1b;
    font-family: "Open Sans";
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.container{
    width: 320px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.container .slider{}
.wrapper{
    padding-top: 1px;
}
.wrapper .header_holder{}
.wrapper .header_holder .logo{
    width: 255px;
    height: 61px;
    background: url(../img/logo.png) no-repeat;
    display: block;
    position: absolute;
    top: -1px;
}
.nav_top{
    border-bottom: 1px solid #282828;
    border-top: 1px solid #282828;
}
.nav_top:after{
    clear: both;
    content:"";
    display: block;
}
.nav_top li{
    float: left;
    width: 33.3%;
    border: 1px solid #282828;
    box-sizing: border-box;
    border-top: 0;
}
.nav_top li:nth-child(3n+1){
    border-left: 0;
    border-right: 0;
}
.nav_top li:nth-child(3n){    
    border-left: 0;    border-right: 0;
}
.nav_top li a{
    display: block;
    width: 100%;
    height: 37px;
    text-align: center;
    font-size: 12px;
    color: #c8c8c6;
    text-decoration: none;
    line-height: 37px;
}
.nav_top li a.selected,.nav_top li a:active,.nav_top li a:hover{
    color: #eaaa27;
}
.banner{
    border: 1px solid #fff;
    margin: 4px 4px;
    padding: 5px;
}
.thumbs{
}
.thumbs:after{
    clear: both;
    content:"";
    display: block;
}
.thumbs .thumb{
    float: left;
    padding-bottom: 22px;
    position: relative;
    background: #222;
    border-bottom: 1px solid #1b1b1b;
    display: block;
}
.thumbs .thumb:nth-child(2n+1){
    border-right: 1px solid #1b1b1b;
}

.thumbs .thumb .image{}
.thumbs .thumb .image img{
    width: 159px;
    height: 121px;
}
.thumbs .thumb:nth-child(2n+1) .image img{
    width: 160px;
    height: 121px;
}
.thumbs .thumb .hd{
    position: absolute;
    width: 22px;
    height: 16px;
    background: #f8cb4e;
    font-size: 10px;
    color: #2e2d28;
    text-align: center;
    top: 0px;
    left: 8px;
    line-height: 18px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.35);
}
.thumbs .thumb .top_today{
    position: absolute;    
    width: 68px;    height: 16px;    background: #f8cb4e;    font-size: 10px;    color: #2e2d28;    text-align: center;    top: 0px;    left: 8px;    line-height: 18px;    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.35);
}
.thumbs .thumb .views{
    position: absolute;
    color: #fff;
    background: url(../img/view.png) no-repeat;
    font-size: 9px;
    font-weight: 300;
    padding-left: 17px;
    top: 127px;
    left: 4px;
    line-height: 10px;
    letter-spacing: -0.2px;
}
.thumbs .thumb .time{
    position: absolute;
    background: url(../img/time.png) no-repeat;
    color: #fff;
    font-size: 9px;    font-weight: 300;
    padding-left: 14px;
    top: 127px;    
    left: 44px;
    line-height: 10px;
}
.thumbs .thumb .rating{
    position: absolute;
    right: 3px;
    top: 126px;
}
.thumbs .thumb .rating i{
    width: 12px;
    height: 12px;
    display: block;
    float: left;
    background-image: url(../img/rating.png);
    background-position: -16px 0px;
    margin-right: 4px;
}
.thumbs .thumb .rating i.active{
    background-position: 0px 0px;
}

.banner_bottom{
    border-top: 1px solid #282828;
    background: #222;
    padding-bottom: 13px;
    border-bottom: 1px solid #282828;
}
.pagination{
    margin-top: 9px;
}
.pagination li{
    display: inline-block;
    font-size: 12px;
    margin-right: 9px;
}
.pagination li.number{
    margin-right: 16px;
}
.pagination li a{
    display: block;
    background: #282828;
    border-radius: 100%;
    color: #c8c8c6;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #282828;
}
.pagination li a:hover,.pagination li a:active{
    background:#f8cb4e;
    border: 1px solid #f8cb4e;
    color:#1b1b1b;
}
.pagination .prev{
    margin-left: 10px;
    margin-right: 11px;
}
.pagination .prev a,.pagination .next a{
    width: 57px;
    border-radius: 14px;
    text-align: center;
    line-height: 20px;
    padding-bottom: 2px;
}
.pagination .number a{
    width: 40px;    border-radius: 14px;    text-align: center;    line-height: 20px;
    padding: 5px 5px;
    font-size: 11px;
    font-style: italic;
    padding-bottom: 2px;
}
.pagination .next{}
.pagination li.active_page{
    padding: 5px 10px;
    border: 1px solid #f3c74d;
    border-radius: 100%;
    color: #f3c74d;
}

.nav_bottom{
    margin-top: 37px;
}
.nav_bottom li{
    border-bottom: 1px solid #282828;
}
.nav_bottom li a{
    font-size: 14px;
    color: #c8c8c6;
    text-decoration: none;
    display: block;
    padding: 10.5px 0;
    padding-left: 10px;
    letter-spacing: -0.1px;
}
.nav_bottom li a:active,.nav_bottom li a:hover{
    color:#eaaa27;
}
.nav_bottom li a.selected{
    color: #eaaa27;
}
.footer{}
.copyright{
    font-size: 10px;
    color: #c8c8c6;
    text-align: center;
    padding-top: 8px;
    letter-spacing: -0.3px;
    line-height: 12px;
    padding-bottom: 8px;
}
button.menu{
    width: 16px;
    height: 23px;
    background: url(../img/btnmenu.png);
    border: 0;
    position: absolute;
    right: 14px;
    top: 19px;
    cursor: pointer;
}
.sidebar{
    background: #1b1b1b;
    position: absolute;
    width: 239px;
    height: 100%;
    z-index: 2;
    right: 0px;
    top: -100%;
    box-shadow: inset 3px 3px 7px 0px rgba(0,0,0,0.5);
    right: 0px;
    transition: .3s top;
}
.sidebar.active{
    top: 55px;
}
.sidebar .login{
    margin: 9px 21px 0px 0px;
}
.sidebar .login li{
    text-align: right;
    margin-bottom: 3px;
}
.sidebar .login li a{
    font-size: 14px;
    color: #fefefe;
    text-decoration: none;
    font-weight: 300;
}
.sidebar .login li a.selected{
    font-size: 12px;
    color: #282828;
    background-color: #f8cb4e;
    font-weight: normal;
    padding: 4px 15px;
    border-radius: 24px 24px;
}

.sidebar .search{
    position: relative;
    margin: 11px 0px 0px 25px;
}
.sidebar .search input[type="text"]{
    width: 141px;    height: 25px;    
    padding: 0;
    border: 0;
    background: #282828;
    font-size: 12px;
    color: #c8c8c6;
    border-radius: 24px 24px;
    padding-left: 22px;
    padding-top: 1px;
    letter-spacing: -0.3px;
    padding-right: 30px;
    outline: 0;
}
.sidebar .search input[type="submit"]{
    text-indent: -9999px;
    background: url(../img/searchbtn.png);
    border: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 37px;
    top: 4px;
}
.nav_sidebar{
    margin: 15px 21px 0px 0px;
    text-align: right;
    letter-spacing: -0.2px;
}
.nav_sidebar li{
    margin-bottom: 3px;
}
.nav_sidebar li a{
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    position: relative;
}
.nav_sidebar li.drop a:after{
    position:absolute;
    content:"";
    display:block;
    width: 16px;
    height: 16px;
    background: url(../img/nav_sidebar.png);
    left: -24px;
    top: 1px;
}
.nav_sidebar li a.selected,.nav_sidebar li a:hover{
    color:#eaaa27;
}

.list-categories{
    position:relative;
}
.list-categories h2{
    margin: 0px 0px 12px 16px;
    font-size: 15px;
    color: #f8cb4e;
    letter-spacing: -0.4px;
    padding-top: 14px;
}
.list-categories .filters{
    position: absolute;
    right: 0px;
    top: 0px;
}
.list-categories .filters .filterBtn{
    width: 98px;
    height: 28px;
    
    border-radius: 100px;
    margin: 9px 19px 0px 0px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-size: 15px;
    color: #f8cb4e;
    cursor: pointer;
}
.list-categories .filters .filterBtn.active{
    background-color: #f8cb4e;
    color:#1b1b1b;
}
.list-categories .cat{
}
.list-categories .cat a{
    display: block;
    font-size: 14px;
    color: #c8c8c6;
    text-decoration: none;
    border-top: 1px solid #282828;
    padding: 6px 0px;
    padding-left: 17px;
    letter-spacing: -0.4px;
}
.list-categories .cat a:hover{
    color:#f8cb4e;
}
.filter{
    position: fixed;
    bottom: 0px;
    left: 50%;
    width: 320px;
    margin-left: -160px;
    background: #1b1b1b;
    border-top: 1px solid #282828;
    transition: .5s bottom;
    display: none;
    z-index: 2;
}
.filter h2{
    font-size: 14px;
    color: #bdbdbb;
    font-weight: normal;
    margin: 9px 0px 14px 10px;
}
.filter .genre{
    margin-top: 24px;
    border-bottom: 1px solid #282828;
}
.filter .genre label{
    display: block;
    text-align: center;
    font-size: 14px;
    color: #bdbdbb;
    border-top: 1px solid #282828;
    padding: 12px 0px;
    line-height: 19.8px;
    letter-spacing: -0.2px;
    font-weight: 500;
    cursor: pointer;
}
.filter .genre label input{
    display: none;
}
.filter .genre label span{}
.filter .genre label input:checked + span{
    color: #F8CB4E;
}
.filter .close{
    width: 14px;
    height: 14px;
    position: absolute;
    top: 12px;
    right: 18px;
    background: url(../img/close.png);
    cursor: pointer;
}
.filter .apply{
    width: 280px;
    height: 40px;
    background: #282828;
    margin: 0 auto;
    text-align: center;
    font-weight: 800;
    margin-top: 22px;
    font-size: 14px;
    color: #bdbdbb;
    border-radius: 108px;
    line-height: 42px;
    margin-bottom: 20px;
    cursor: pointer;
}
.top{
    height: 53px;
    background: #1b1b1b;
    position: relative;
    z-index: 3;
}
.auth_form{
    margin: 0 15px;
    margin-top: 43px;
    margin-bottom: 33px;
}
.auth_form form{}
.auth_form form label{
    display: block;
    padding: 0 15px;
    font-size: 16px;
    color: #c8c8c6;
    font-weight: 300;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 3px;
    margin-bottom: 22px;
}
.auth_form form label span{
    width: 74px;
    display: inline-block;
    letter-spacing: -0.5px;
}
.auth_form form label input{
    border: 0;
    background: none;
    font-size: 16px;
    color: #eec246;
    font-weight: 300;
    outline: 0;
    margin: 0px 0px 0px 5px;
}
.auth_form form input[type="submit"]{
    display: block;
    width: 249px;
    height: 36px;
    border: 0;
    background-color: #eec246;
    border-radius: 105px;
    margin: 0 auto;
    margin-top: 23px;
}
.main.login{
    box-shadow: inset 3px 3px 7px 0px rgba(0,0,0,0.5);
}
.auth_form label.checkbox{
    border-bottom: 0;
    padding: 0;
    margin-top: -10px;
}
.auth_form label.checkbox input{
    display: none;
}
.auth_form label.checkbox .checkbox{
    width: 11px;
    height: 11px;
    border-radius: 10px;
    background: #e6e6e6;
    position: relative;
}
.auth_form label.checkbox .checkbox span{
    width: 5px;
    height: 5px;
    background: #444444;
    border-radius: 5px;
    position: absolute;
    top: 3px;
    left: 3px;
    display: none;
}
.auth_form label.checkbox input:checked + .checkbox span{
    display:block;
}
.auth_form label.checkbox .text{
    width: auto;
    font-size: 14px;
    font-weight: 300;
    margin-left: 7px;
    letter-spacing: -0.4px;
}

.auth_form.signup label{
    margin-bottom: 19px;
}
.models .thumb .name{
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: 124px;
    left: 9px;
    letter-spacing: -0.2px;
}
.models .thumb .roller_number{
    position: absolute;
    background: url(../img/rollnumber.png) no-repeat 18px 2px;
    font-size: 12px;
    padding-right: 17px;
    right: 5px;
    top: 123px;
    color: #fff;
}
.sort_letters{
    position: absolute;
    top: 11px;
    right: 17px;
    width: 149px;
    letter-spacing: -0.8px;
    text-align: right;
    line-height: 10px;
}
.sort_letters a{
    font-size: 10px;    color: #c8c8c6;    
    font-weight: 400;
    text-decoration: none;
}
.sort_letters a.selected{
    color: #f8cb4e;
}
.sort_letters a:hover{
    color: #f8cb4e;
}
.owl-carousel .thumb{
    border: 0;
    padding: 0;
}
.owl-carousel.thumbs .thumb .hd{
    left: 87px;
}
.owl-theme .owl-controls{
    margin-top: 0;
    padding-top: 7px;
    padding-bottom: 1px;
}
.owl-theme .owl-controls .owl-page span{
    width: 10px;
    height: 10px;
    margin: 5px 3px;
}
.chromeperfectpixel-overlay{
    left: 50% !important;
    margin-left: -160px !important;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}